@* Generator: Template *@

@using Hipicapp.Service.Mail.Models

@functions {
    public CreatedAccountEmailModel message;
}

<html>
<head>
    <title>Restablecer contraseña | Hipicapp</title>
</head>
<body>
    <p>Estimado/a Atleta,</p>
    <p>Ha solicitado que se restablezca su contraseña. Haga clic</p>
    <p>en el siguiente vínculo. Le llevará a una página web de</p>
    <p>Hipicapp en la que podrá cambiar la contraseña.</p>
    <p><a href="@message.Url">Restablecer contraseña</a></p>
    <p>Gracias,</p>
    <p>El equipo de cuentas de Hipicapp</p>
</body>
</html>