@* Generator: Template *@

@using Hipicapp.Service.Mail.Models

@functions {
    public CreatedAccountEmailModel message;
}

<html>
<head>
    <title>Nuevo registro | Hipicapp</title>
</head>
<body>
    <p>Bienvenido a Hipicapp! Puede acceder a su cuenta en @message.Url.</p>
    <p>Gracias,</p>
    <p>El equipo de cuentas de Hipicapp</p>
</body>
</html>