@* Generator: Template *@

@using Hipicapp.Service.Mail.Models

@functions {
    public PasswordResetEmailModel message;
}

<html>
<head>
    <title>Welcome to mysite.com</title>
</head>
<body>
    <p>Dear ,</p>
    <p>An account has been created for you.</p>
    <p>Your account is FREE and allows you to perform bla bla features.</p>
    <p>To login and complete your profile, please go to:</p>
    <p><a href="@message.Url">@message.Url</a></p>
</body>
</html>