* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    height: 100%;

    .aleft {
        text-align: left;
    }

    .acenter {
        text-align: center;
    }

    .aright {
        text-align: right;
    }

    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
    }

    a.btn {
        padding: 0.8em 1.2em;
        color: #333;
    }

    .ver-todo,
    .btn-red {
        display: inline-block;
        float: right;
        margin: 0 1em 1em 0;
        padding: 6px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #fff;
        text-transform: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #f74b4b;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            background-color: #de4545;
        }
    }

    .btn-red {
        float: left;
        padding: 0.8em 1.2em;

        &:hover,
        &:active,
        &:focus {
            color: #fff;
            background-color: #de4545;
        }
    }

    .navbar-fixed-top {
        -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    }

    .navbar {
        margin: 0;
        padding: 0.8em 0;
        background: #fff;

        .container {
            padding: 0 15px;
        }

        .enlaces-header {
            margin-top: 1.2em;

            a {
                color: #333;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }

            .fa {
                margin-left: 0.5em;
            }
        }
    }

    .section-home {
        /*margin-top: 5.5em;
        height: 100vh;*/
        overflow: hidden;

        .cols {
            overflow: hidden;

            .col-1of2 {
                float: left;
                position: relative;
                margin-top: 77px;
                padding: 0;
                height: 100vh;
                width: 50%;
                text-align: center;
                background: url("images/foto_salto.jpg") 50% 50% / cover no-repeat;

                .col-inner {
                    position: relative;
                    height: 100vh;
                    text-align: center;
                    /*-ms-transition: 0.5s 0.9s;
                    -webkit-transition: 0.5s 0.9s;
                    -moz-transition: 0.5s 0.9s;
                    -o-transition: 0.5s 0.9s;
                    transition: 0.5s 0.9s;*/
                    &:hover {
                        &:after {
                            background: rgba(0,0,0,0.2);
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.5);
                    }
                }

                &.block-doma {
                    background: url("images/foto_doma_clasica.jpg") 50% 50% / cover no-repeat;
                }
            }
        }

        .entry {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            z-index: 9;
            -ms-transform: translate(-50%,-50%); /* IE 9 */
            -webkit-transform: translate(-50%,-50%); /* Safari */
            -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

            a {
                display: inline-block;
                padding: 2em 2.5em;
                font-family: 'Montserrat', sans-serif;
                font-size: 2em;
                color: #fff;
                text-align: center;
                z-index: 9;
                border: 1px solid #fff;

                &:hover {
                    text-decoration: none;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin: -32px 0 0 -32px;
                }

                span {
                    display: block;
                    margin-top: 15px;
                    padding: 6px 20px;
                    font-size: 0.5em;
                    color: #fff;
                    text-transform: none;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    background: #f74b4b;
                }
            }
        }
    }

    .header-block {
        position: relative;
        margin: 3.1em 0 0 0;
        padding: 1.5em 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
        color: #fff;
        text-align: center;
        background: url("images/foto_doma_clasica.jpg") 50% 30% / cover no-repeat;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        }

        &.header-salto {
            background: url("images/foto_salto.jpg") 50% 50% / cover no-repeat;
        }

        h1 {
            margin: 0;
            position: relative;
            z-index: 9;

            span {
                display: block;
                font-size: 0.5em;
                text-transform: uppercase;
                margin: 0 0 0.5em;

                &:before,
                &:after {
                    content: "";
                    float: left;
                    margin: 0 0.5em 0 -2em;
                    width: 1.5em;
                    height: 2px;
                    display: inline-block;
                    position: absolute;
                    left: auto;
                    top: 7px;
                    background: #fff;
                }

                &:after {
                    margin: 0 0.5em 0 0.5em;
                }
            }
        }
    }

    .menu-principal {
        text-align: center;
        border-bottom: 1px solid #cecdcd;
        background: #fff;

        li {
            display: inline-block;
            float: none;

            &.active {
                a {
                    color: #fff;
                    background-color: #f74b4b;

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: #de4545;
                    }
                }
            }

            a {
                color: #333;
            }
        }
    }

    #section-content-login {
        height: 100vh;
        overflow: hidden;
        background: url("images/foto_doma_clasica.jpg") 50% 50% / cover no-repeat;

        #contenido-interior {
            position: relative;
            height: 100%;
            height: 94.5%;
            margin-top: 5.5%;
            background: none;
            /****** LOGIN MODAL ******/
            .loginmodal-container {
                padding: 2em;
                max-width: 45em;
                font-family: 'Montserrat', sans-serif;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%,-50%); /* IE 9 */
                -webkit-transform: translate(-50%,-50%); /* Safari */
                -moz-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);

                &.registermodal {
                    h2 {
                        margin: 1.2em 0 1em;
                        text-align: left;
                    }

                    .form-group {
                        margin-bottom: 5px;
                    }

                    .posicionado {
                        position: relative;

                        .input-group-addon {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 14px 16px 14px 8px;
                        }
                    }

                    .posicionado-left {
                        position: relative;

                        .input-group {
                            margin-left: 14px;
                            width: 94%;

                            input[type=text] {
                                padding-left: 22px;
                            }
                        }

                        .input-group-addon {
                            position: absolute;
                            top: 0;
                            left: -14px;
                            padding: 15px 20px 14px 8px;
                        }
                    }

                    .loginmodal-submit {
                        padding: 14px 28px;
                        float: left;
                    }
                }

                .card {
                    padding: 0 2em 1em 2em;
                    background: #fff;

                    a {
                        color: #333;
                    }

                    .header-bg {
                        border-bottom: 1px solid #d9d9d9;
                    }
                }

                h2 {
                    margin: 1.2em 0 2.5em;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif !important;
                    font-size: 1.5em;
                }

                input[type=submit],
                button[type=submit] {
                    float: right;
                    margin: 0;
                    padding: 0.8em 0;
                    width: 30%;
                    display: inline-block;
                    margin-bottom: 10px;
                    position: relative;
                    font-family: 'Montserrat', sans-serif;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    background: #f74b4b;

                    &:hover {
                        color: #fff;
                        background: #f74b4b;
                    }
                }

                input,
                input[type=text],
                input[type=password],
                input[type=number],
                select {
                    font-size: 1em;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                    -webkit-appearance: none;
                    background: #fff;
                    border: 1px solid #d9d9d9;
                    border-top: 1px solid #c0c0c0;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    padding: 0.8em 1em;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                input[type=checkbox] {
                    padding: 0;
                    width: 15px;
                    height: 15px;
                    float: left;
                    margin: 0.2em 0.5em 0 0;
                }

                input[type=text]:hover,
                input[type=password]:hover {
                    border: 1px solid #b9b9b9;
                    border-top: 1px solid #a0a0a0;
                    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                }

                .loginmodal-submit {
                    /* border: 1px solid #3079ed; */
                    border: 0;
                    color: #fff;
                    text-shadow: 0 1px rgba(0,0,0,0.1);
                    background-color: #4d90fe;
                    padding: 1em;
                    font-size: 14px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
                }

                .loginmodal-submit:hover {
                    /* border: 1px solid #2f5bb7; */
                    border: 0;
                    text-shadow: 0 1px rgba(0,0,0,0.3);
                    background-color: #357ae8;
                    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
                }

                .login-help {
                    display: block;
                    margin-top: 1.4em;
                    font-size: 1em;
                    text-align: left;
                }

                .recordar {
                    margin: 1em 0 0 0;
                    padding: 1em 0;
                    border-top: 1px solid #fff;
                }
            }
        }
    }

    #contenido-interior {
        background-color: #fff;

        h2 {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: -1px;
        }

        .avatar {
            position: relative;
            margin-top: 15px;
            z-index: 100;

            img {
                margin-bottom: 0.5em;
                width: 90px;
                height: 90px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid #fff;
            }
        }

        .card {
            overflow: hidden;
            position: relative;
            border: 1px solid #CCC;
            border-radius: 8px;
            text-align: center;
            padding: 0;
            background-color: #e9e5e5;
            color: #333;

            .header-bg {
                /* This stretches the canvas across the entire hero unit */
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 70px;
                border-bottom: 1px #FFF solid;
                /* This positions the canvas under the text */
                z-index: 1;
            }

            .content {
                font-family: 'Montserrat', sans-serif;

                .btn {
                    color: #fff;
                    background-color: #f74b4b;

                    &:hover {
                        background-color: #de4545;
                    }
                }
            }
        }
        /********************************/
        /*          Block top           */
        /********************************/
        .block-top {
            margin-top: 1.5em;
        }
        /* Carousel Styles */
        .carousel-indicators .active {
            background-color: #f74b4b;
        }

        .carousel-inner img {
            width: 100%;
            max-height: 460px;
        }

        .carousel-control {
            width: 0;
        }

        .carousel-control.left,
        .carousel-control.right {
            opacity: 1;
            filter: alpha(opacity=100);
            background-image: none;
            background-repeat: no-repeat;
            text-shadow: none;
        }

        .carousel-control.left span {
            padding: 15px;
        }

        .carousel-control.right span {
            padding: 15px;
        }

        .carousel-control .glyphicon-chevron-left,
        .carousel-control .glyphicon-chevron-right,
        .carousel-control .icon-prev,
        .carousel-control .icon-next {
            position: absolute;
            top: 45%;
            z-index: 5;
            display: inline-block;
        }

        .carousel-control .glyphicon-chevron-left,
        .carousel-control .icon-prev {
            left: 10px;
            width: auto;
            height: auto;
            margin-top: 0;
            font-size: 30px;
        }

        .carousel-control .glyphicon-chevron-right,
        .carousel-control .icon-next {
            right: 10px;
            width: auto;
            height: auto;
            margin-top: 0;
            font-size: 30px;
        }

        .carousel-control.left span,
        .carousel-control.right span {
            background-color: #000;
        }

        .carousel-control.left span:hover,
        .carousel-control.right span:hover {
            opacity: .7;
            filter: alpha(opacity=70);
        }
        /* Carousel Header Styles */
        .header-text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            color: #fff;
            -ms-transform: translate(-50%,-50%); /* IE 9 */
            -webkit-transform: translate(-50%,-50%); /* Safari */
            -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

            h2 {
                font-size: 40px;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }

                span {
                    background: rgba(0,0,0,0.5);
                    padding: 0 10px;
                    line-height: normal;
                }
            }
        }

        .header-text h3 span {
            background-color: #000;
            padding: 15px;
        }

        .btn-min-block {
            min-width: 170px;
            line-height: 26px;
        }

        .btn-theme {
            color: #fff;
            background-color: transparent;
            border: 2px solid #fff;
            margin-right: 15px;
        }

        .btn-theme:hover {
            color: #000;
            background-color: #fff;
            border-color: #fff;
        }

        .block-destacados {
            float: left;
            margin: 3em 0 1em;
            width: 100%;
            clear: both;

            .un-destacado {
                position: relative;

                img {
                    width: 100%;
                    height: 180px;
                }

                h3 {
                    position: absolute;
                    display: inline-block;
                    margin: 0;
                    padding: 0 1em 0.3em 1em;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 2em;
                    color: #fff;
                    top: 50%;
                    left: 0;
                    z-index: 99;
                    -ms-transform: translate(0,-50%); /* IE 9 */
                    -webkit-transform: translate(0,-50%); /* Safari */
                    -moz-transform: translate(0,-50%);
                    -o-transform: translate(0,-50%);
                    transform: translate(0,-50%);
                    background: url("/Content/images/subrayado_blanco.png") no-repeat 50% 100%;
                }
            }
        }
        /********************************/
        /*          Block bottom        */
        /********************************/
        .block-center {
            float: left;
            margin-top: 1.5em;
            width: 100%;

            header {
                float: left;
                padding: 0 15px;
                width: 100%;
                clear: both;
            }

            .modulo-3-noticias {
                float: left;
                padding-top: 1em;
                width: 100%;
                background: #f8f8f8;
                margin-bottom: 20px;

                header {
                    h2 {
                        font-size: 1.8em;
                        margin: 0 0 0.5em;
                    }

                    a.pull-right {
                        display: inline-block;
                        margin: 0 0 0 0;
                        padding: 0.5em 1em;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.8em;
                        color: #fff;
                        text-transform: uppercase;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                        background: #4d4c4c;

                        &:hover {
                            text-decoration: none;
                            background: #313131;
                        }
                    }
                }

                .inner-modulo {
                    padding: 0;

                    .noticia {
                        margin-bottom: 20px;

                        .inner {
                            //padding: 0 15px 0 15px;
                            .foto {
                                position: relative;
                                border-bottom: 3px solid #f74b4b;
                                background: #fff;
                                text-align: center;

                                img {
                                    width: 100%;
                                    height: 146px;
                                }

                                .cintillo {
                                    z-index: 99;
                                    color: #fff;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    display: inline-block;
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 0.8em;
                                    margin: 0;
                                    padding: 8px 10px;
                                    text-transform: uppercase;
                                    width: auto;
                                    -webkit-border-top-left-radius: 3px;
                                    -moz-border-radius-topleft: 3px;
                                    border-top-left-radius: 3px;
                                    background: #f74b4b;
                                }
                            }

                            .texto {
                                background: #fff;
                                padding: 10px;

                                h3 {
                                    margin: 0.3em 0;
                                    line-height: 21px;
                                    font-size: 18px;
                                    font-weight: 400;
                                    color: #333;

                                    a {
                                        color: #333;
                                    }
                                }

                                i {
                                    color: #f74b4b;
                                }
                            }
                        }
                    }
                }
            }

            .block-center-der {
                .banners {
                    img {
                        margin: 1em 0;
                        width: 100%;
                        height: 120px;
                    }
                }

                .box-element {
                    float: left;
                    width: 100%;
                    clear: both;

                    header {
                        float: left;
                        padding: 0;
                        width: 100%;
                        clear: both;
                        border-bottom: 3px solid #f74b4b;

                        h2 {
                            display: block;
                            margin: 0 0 0.4em;
                            padding: 0.2em 0;
                            font-size: 1.6em;
                        }
                    }

                    .content {
                        float: left;
                        width: 100%;
                        clear: both;

                        .ver-todo {
                            margin: 1em 0;
                            font-size: 0.8em;
                            text-transform: uppercase;
                        }

                        h3 {
                            margin: 0 0 0.5em;
                            font-size: 1.2em;
                        }

                        ul {
                            float: left;
                            margin: 1.5em 0 0.5em;
                            width: 100%;
                            list-style: none;

                            li {
                                float: left;
                                margin: 0;
                                padding: 1.2em 0;
                                width: 100%;
                                clear: both;
                                font-family: 'Montserrat', sans-serif;
                                border-bottom: 1px solid #f8f8f8;

                                &:nth-child(1),
                                &:nth-child(2),
                                &:nth-child(3) {
                                    float: left;
                                    margin-bottom: 0.5em;
                                    padding: 0;
                                    width: 33.3%;
                                    clear: none;
                                    text-align: center;
                                    border: 0;

                                    img {
                                        height: 80px;
                                        width: 100%;
                                    }

                                    span {
                                        display: block;
                                        text-transform: uppercase;
                                        font-size: 0.8em;
                                        padding: 0.3em 0 0.1em;
                                        color: #fff;
                                        background: #4d4c4c;
                                    }
                                }

                                &:nth-child(2) {
                                    margin-top: -0.8em;

                                    .puesto {
                                        height: 4.3em;
                                        background: #e2e1e1;

                                        h3 {
                                            padding: 0.4em 1.6em 0.6em 0.8em;
                                            font-size: 1em;
                                            line-height: 1.2em;
                                        }
                                    }
                                }

                                .puesto {
                                    position: relative;
                                    float: left;
                                    width: 100%;
                                    height: 3.5em;
                                    color: #333;
                                    text-align: center;
                                    overflow: hidden;
                                    background: #f8f8f8;

                                    h3 {
                                        float: none;
                                        margin: 0;
                                        padding: 0.6em 2.2em 0.6em 0.5em;
                                        font-size: 0.9em;
                                        line-height: 1.3em;
                                    }

                                    span {
                                        position: absolute;
                                        bottom: -15px;
                                        right: 0;
                                        padding: 0;
                                        font-family: 'Montserrat', sans-serif;
                                        font-size: 3em;
                                        color: #f74b4b;
                                        text-transform: none;
                                        background: none;
                                    }
                                }

                                h3 {
                                    float: left;
                                    margin: 0;
                                    font-size: 1.1em;

                                    span {
                                        font-size: 1.6em;
                                        color: #f74b4b;
                                    }
                                }

                                .puntos {
                                    display: inline-block;
                                    text-transform: uppercase;
                                    font-size: 0.8em;
                                    margin-top: 0.4em;
                                    padding: 0.3em 0.4em 0.1em;
                                    color: #fff;
                                    background: #4d4c4c;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*      Buscador    */
    #custom-search-input {
        float: left;
        padding: 2em 0;
        width: 100%;
        clear: both;

        .campo-buscador {
            float: left;
            padding: 0 0 0 2%;

            &:first-child {
                padding-left: 0;
            }

            input,
            select {
                width: 100%;
                font-size: 1.1em;
                border: solid 1px #E4E4E4;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                background-color: #fff;
                box-shadow: none;
            }

            .glyphicon-search {
                font-size: 23px;
            }

            button {
                margin: 2px 0 0 0;
                background: none;
                box-shadow: none;
                border: 0;
                color: #666666;
                padding: 8px 0 8px 16px;
                border-left: solid 1px #E4E4E4;

                &:hover {
                    border: 0;
                    box-shadow: none;
                    border-left: solid 1px #ccc;
                }
            }
        }
    }
    /*      Listado elementos       */
    .foto-listados {
        padding-left: 0;

        img {
            width: 80px;
            height: 80px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 3px solid #E4E4E4;
        }
    }

    .listado-elements {
        h2 {
            display: block;
            padding: 0 0 0.5em;
            margin: 0 0 1em;
            border-bottom: 3px solid #f74b4b;
        }

        .one-element {
            padding: 0 0 1.5em;
            &:nth-child(3n+1){
                clear:left;
                }
            .info-listados {
                padding-left: 0;
                padding-right: 24px;

                h3 {
                    font-size: 1.3em;
                    margin: 0 0 0.2em;
                    padding: 0.3em 0 0.2em 0;

                    a {
                        color: #333;
                    }
                }

                p {
                    margin: 0 0 0.2em;
                }

                .ver-todo {
                    margin-top: 0.5em;
                    padding: 5px 15px;
                    float: left;
                    font-size: 0.9em;
                }
            }
        }
    }
    /*  Paginador   */
    .paginador {
        padding: 1.5em 0;
        border-top: 1px solid #E4E4E4;

        div {
            padding: 0;

            .pull-right {
                padding-top: 0.5em;
            }
        }

        ul {
            margin: 0.5em 0 0 0;

            li {
                a {
                    color: #f74b4b;

                    &:hover,
                    &:active,
                    &:focus {
                        color: #fff;
                        border: 1px solid #f74b4b;
                        background: #f74b4b;
                    }
                }

                &.active {
                    a {
                        border: 1px solid #f74b4b;
                        background: #f74b4b;

                        &:hover,
                        &:active,
                        &:focus {
                            border: 1px solid #f74b4b;
                            background: #f74b4b;
                        }
                    }
                }
            }
        }

        span {
            display: inline-block;
            padding: 0.5em;
        }

        select {
            display: inline-block;
            width: auto;
            padding: 0.7em 0.5em;
            height: auto;
        }
    }
    /*  Ficha element   */
    .block-ficha {
        padding: 3em 0 0;

        .ficha-col-izq {
            margin-bottom: 3em;
            padding-right: 3em;

            header {
                position: relative;
                margin: 0 0 2.5em;
                padding: 0 0 0.5em;
                border-bottom: 3px solid #f74b4b;

                h2 {
                    margin: 0;
                    padding: 0 0.5em 0 0;
                    font-size: 1.6em;
                }

                a {
                    z-index: 99;
                    background: #f74b4b;
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: inline-block;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 0.8em;
                    margin: 0;
                    padding: 0.8em 1em;
                    text-transform: uppercase;
                    width: auto;
                    -webkit-border-top-left-radius: 3px;
                    -webkit-border-top-right-radius: 3px;
                    -moz-border-radius-topleft: 3px;
                    -moz-border-radius-topright: 3px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;

                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: none;
                        background-color: #de4545;
                    }
                }
            }

            .encabezado-listados {
                font-family: 'Montserrat', sans-serif;
                font-size: 0.8em;
                margin: 0;
                padding: 1em 0.6em;
                text-transform: uppercase;
                background: #E4E4E4;
            }

            .fondo-horse {
                height: 256px;
                background: url("/Content/images/caballo-form.png") no-repeat 0 0;
            }

            .form-public {
                p {
                    margin: 0 0 1em;
                    padding: 0 15px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.4em;
                }

                .form-group {
                    margin-bottom: 1.5em;

                    .form-control {
                        padding: 0.8em;
                        height: 44px;
                    }
                }
            }

            #mis-caballos,
            #mis-concursos {
                padding: 0 0 3em;
            }

            article {
                .row {
                    border-top: 1px solid #E4E4E4;
                }

                .foto-listados {
                    padding: 0.8em 0;
                    text-align: center;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .datos-listados {
                    padding: 1.5em 0.6em;
                    line-height: normal;
                    vertical-align: middle;

                    a {
                        padding: 0 0.5em;
                        color: #f74b4b;

                        &:hover,
                        &:active,
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }

            .paginador {
                padding: 0.5em 0;

                .pull-right {
                    display: none;
                }
            }
        }

        .ficha-col-der {
            position: relative;
            margin-top: 5em;
            margin-bottom: 3em;
            font-family: 'Montserrat', sans-serif;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background: #E4E4E4;

            .foto-listados {
                position: absolute;
                left: 50%;
                top: -80px;
                text-align: center;
                -ms-transform: translate(-50%,0); /* IE 9 */
                -webkit-transform: translate(-50%,0); /* Safari */
                -moz-transform: translate(-50%,0);
                -o-transform: translate(-50%,0);
                transform: translate(-50%,0);

                img {
                    width: 160px;
                    height: 160px;
                    background: #fff;
                    padding: 6px;
                    border: 0;
                }
            }

            .info-listados {
                padding-top: 5.5em;
                padding-bottom: 3em;

                h3 {
                    margin: 0;
                    padding: 1em 0 0.5em;
                    border-bottom: 1px solid #fff;

                    a {
                        color: #333;
                    }
                }

                p {
                    margin: 0;
                    padding: 1em 0;
                    border-bottom: 1px solid #fff;
                }

                .ver-todo {
                    float: none;
                    margin: 1.5em 0;
                }
            }
        }
    }
    /*  footer  */
    footer {
        padding: 1em 0;
        text-align: center;
        color: #fff;
        background: #222;

        .row {
            padding: 0 15px;
        }
    }
    /* Alert */
    #mo-shell-alerts {
        position: fixed;
        top: 66px;
        left: 0;
        right: 0;
        z-index: 7000;
    }

    #mo-shell-alerts .mo-alert {
        width: 96.4%;
        margin: 0 1.6em;
        padding: 1em;
    }

    #mo-shell-alerts .mo-alert-fatal {
        background-color: #444;
        border-color: #111;
        color: #fff;
    }

    #mo-shell-alerts .mo-alert-1 .animated {
        -webkit-animation-delay: 0.25s;
        -moz-animation-delay: 0.25s;
        -o-animation-delay: 0.25s;
        animation-delay: 0.25s;
    }

    #mo-shell-alerts .mo-alert-2 .animated {
        -webkit-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

    #mo-shell-alerts .mo-alert-3 .animated {
        -webkit-animation-delay: 0.75s;
        -moz-animation-delay: 0.75s;
        -o-animation-delay: 0.75s;
        animation-delay: 0.75s;
    }
    /* Splash */
    #h-splash {
        text-align: center;
        margin: 12% 0 0 0;
    }

    #h-splash img {
        max-width: 60%;
    }

    #h-splash p {
        font-size: 3em;
        line-height: 3em;
        text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    }

    #h-splash .icon-spinner {
        text-align: center;
        display: inline-block;
        font-size: 5em;
        text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    }
    /* theming */
    .alert-success {
        color: #ffffff;
        background-color: rgba(38, 185, 154, 0.88);
        border-color: rgba(38, 185, 154, 0.88);
    }

    .alert-info {
        color: #E9EDEF;
        background-color: #a4acb9;
        border-color: #97aacb;
    }

    .alert-warning {
        color: #E9EDEF;
        background-color: rgba(243, 156, 18, 0.88);
        border-color: rgba(243, 156, 18, 0.88);
    }

    .alert-danger, .alert-error {
        color: #E9EDEF;
        background-color: rgba(231, 76, 60, 0.88);
        border-color: rgba(231, 76, 60, 0.88);
    }

    .alert-dark {
        color: #E9EDEF;
        background-color: rgba(52, 73, 94, 0.88);
        border-color: rgba(52, 73, 94, 0.88);
    }
    /* /theming */
    .navbar .loader {
        margin: -3em 1em;
        text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
        visibility: hidden;
    }

    .navbar .loader.active {
        visibility: visible;
    }

    .public-photo-upload {
        margin-top: 3em;
    }

    .without-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .without-padding-left {
        padding-left: 0 !important;
    }

    .without-padding-right {
        padding-right: 0 !important;
    }
}

/* Media query */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    body .section-home {
        height: 100%;
        overflow: hidden;
    }

    html body .section-home .cols .col-1of2 {
        height: 100%;
    }

    html body .section-home .cols .col-1of2 .col-inner {
        position: initial;
        height: 50vh;
    }

    html body #contenido-interior .block-center .modulo-3-noticias .inner-modulo .noticia:nth-child(2n+1) {
        clear: left;
    }

    html body #contenido-interior .block-center .block-center-der .banners img {
        height: auto;
    }
}

@media (width: 640px) and (height: 360px) {
    html body .section-home .cols .col-1of2 {
        height: 100vh;
    }
}

@media (max-width: 767px) {
    html body #contenido-interior .block-center .block-center-der .banners img {
        width: auto;
    }

    html body .block-ficha {
        display: table;
        margin: 7em 0 0 0;
    }

    html body .block-ficha .ficha-col-izq {
        padding-right: 15px;
    }

    html body .block-ficha .ficha-col-izq header {
        min-height: 2.5em;
    }

    html body .block-ficha .ficha-col-der {
        display: table-header-group;
        float: none;
    }
}

@media (max-width: 640px) {
    html body .section-home {
        overflow: inherit;
        height: 100%;
    }

    html body .section-home .cols .col-1of2 {
        margin-top: 0;
        width: 100%;
    }

    html body .section-home .cols .col-1of2.block-doma {
        margin-top: 77px;
    }

    body .section-home .cols .col-1of2 .col-inner {
        /*height: 50vh;*/
    }
}

@media (max-width: 360px) {
    body .header-block {
        margin: 4.5em 0 0 0;
    }
}