* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    height: 100%;

    .aleft {
        text-align: left;
    }

    .acenter {
        text-align: center;
    }

    .aright {
        text-align: right;
    }

    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
    }

    .ver-todo {
        display: inline-block;
        float: right;
        margin: 0 1em 1em 0;
        padding: 6px 20px;
        font-size: 1em;
        color: #fff;
        text-transform: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #f74b4b;
    }

    .navbar {
        margin: 0;
        padding: 0.8em 0;
        background: #fff;
        .container{
            padding:0 15px;
            }
        .enlaces-header {
            margin-top: 1.2em;

            a {
                color: #333;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .section-home {
        //margin-top: 5.5em;
        height: 100vh;
        overflow: hidden;

        .cols {
            overflow: hidden;

            .col-1of2 {
                float: left;
                position: relative;
                margin-top: 77px;
                height: 100vh;
                width: 50%;
                text-align: center;
                background: url("images/foto_salto.jpg") 50% 50% / cover no-repeat;

                .col-inner {
                    position: relative;
                    height: 100vh;
                    text-align: center;
                    /*-ms-transition: 0.5s 0.9s;
                    -webkit-transition: 0.5s 0.9s;
                    -moz-transition: 0.5s 0.9s;
                    -o-transition: 0.5s 0.9s;
                    transition: 0.5s 0.9s;*/
                    &:hover {
                        &:after {
                            background: rgba(0,0,0,0.2);
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.5);
                    }
                }

                &.block-doma {
                    background: url("images/foto_doma_clasica.jpg") 50% 50% / cover no-repeat;
                }
            }
        }

        .entry {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            z-index: 9;
            -ms-transform: translate(-50%,-50%); /* IE 9 */
            -webkit-transform: translate(-50%,-50%); /* Safari */
            -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

            a {
                display: inline-block;
                padding: 2em 2.5em;
                font-family: 'Montserrat', sans-serif;
                font-size: 2em;
                color: #fff;
                text-align: center;
                z-index: 9;
                border: 1px solid #fff;

                &:hover {
                    text-decoration: none;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin: -32px 0 0 -32px;
                }

                span {
                    display: block;
                    margin-top: 15px;
                    padding: 6px 20px;
                    font-size: 0.5em;
                    color: #fff;
                    text-transform: none;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    background: #f74b4b;
                }
            }
        }
    }

    .header-block {
        position: relative;
        margin: 2.8em 0 0 0;
        padding: 1.5em 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
        color: #fff;
        text-align: center;
        background: url("images/foto_doma_clasica.jpg") 50% 30% / cover no-repeat;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        }

        &.header-salto {
            background: url("images/foto_salto.jpg") 50% 50% / cover no-repeat;
        }        
        h1 {
            position: relative;
            z-index: 9;
        }
    }

    .menu-principal {
        text-align: center;
        border-bottom: 1px solid #cecdcd;
        background: #fff;

        li {
            display: inline-block;
            float: none;

            &.active {
                a {
                    color: #fff;
                    background-color: #f74b4b;

                    &:hover {
                        background-color: #de4545;
                    }
                }
            }

            a {
                color: #333;
            }
        }
    }

    #section-content-login {
        height: 100vh;
        overflow: hidden;
        background: url("images/foto_doma_clasica.jpg") 50% 50% / cover no-repeat;

        #contenido-interior {
            position: relative;
            height: 100%;
            height: 94.5%;
            margin-top: 5.5%;
            background: none;
            /****** LOGIN MODAL ******/
            .loginmodal-container {
                padding: 2em;
                max-width: 45em;
                font-family: 'Montserrat', sans-serif;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%,-50%); /* IE 9 */
                -webkit-transform: translate(-50%,-50%); /* Safari */
                -moz-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);

                &.registermodal {
                    h2 {
                        margin: 1.5em 0 1em;
                        text-align: left;
                    }

                    .form-group {
                        margin-bottom: 5px;
                    }

                    .posicionado {
                        position: relative;

                        .input-group-addon {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 17px 16px 17px 8px;
                        }
                    }

                    .posicionado-left {
                        position: relative;

                        .input-group-addon {
                            position: absolute;
                            top: 0;
                            left: -14px;
                            padding: 17px 20px 17px 8px;
                        }
                    }

                    .loginmodal-submit {
                        padding: 14px 28px;
                        float: left;
                    }
                }

                .card {
                    padding: 0 2em 1em 2em;
                    background: #fff;

                    a {
                        color: #333;
                    }

                    .header-bg {
                        border-bottom: 1px solid #d9d9d9;
                    }
                }

                h2 {
                    margin: 1.2em 0 2.5em;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif !important;
                    font-size: 1.5em;
                }

                input[type=submit] {
                    float: right;
                    padding: 1em 0;
                    width: 30%;
                    display: inline-block;
                    margin-bottom: 10px;
                    position: relative;
                    font-family: 'Montserrat', sans-serif;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                }

                input,
                input[type=text],
                input[type=password],
                select {
                    font-size: 1em;
                    width: 100%;
                    margin-bottom: 10px;
                    -webkit-appearance: none;
                    background: #fff;
                    border: 1px solid #d9d9d9;
                    border-top: 1px solid #c0c0c0;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    padding: 1em;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                input[type=checkbox] {
                    padding: 0;
                    width: 15px;
                    height: 15px;
                    float: left;
                    margin: 0.2em 0.5em 0 0;
                }

                input[type=text]:hover,
                input[type=password]:hover {
                    border: 1px solid #b9b9b9;
                    border-top: 1px solid #a0a0a0;
                    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                }

                .loginmodal-submit {
                    /* border: 1px solid #3079ed; */
                    border: 0;
                    color: #fff;
                    text-shadow: 0 1px rgba(0,0,0,0.1);
                    background-color: #4d90fe;
                    padding: 1em;
                    font-size: 14px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
                }

                .loginmodal-submit:hover {
                    /* border: 1px solid #2f5bb7; */
                    border: 0;
                    text-shadow: 0 1px rgba(0,0,0,0.3);
                    background-color: #357ae8;
                    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
                }

                .login-help {
                    display: block;
                    margin-top: 1.4em;
                    font-size: 1em;
                    text-align: left;
                }

                .recordar {
                    margin: 1em 0 0 0;
                    padding: 1em 0;
                    border-top: 1px solid #fff;
                }
            }
        }
    }

    #contenido-interior {
        background-color: #fff;

        h2 {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: -1px;
        }

        .avatar {
            position: relative;
            margin-top: 15px;
            z-index: 100;

            img {
                margin-bottom: 0.5em;
                width: 90px;
                height: 90px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid #fff;
            }
        }

        .card {
            overflow: hidden;
            position: relative;
            border: 1px solid #CCC;
            border-radius: 8px;
            text-align: center;
            padding: 0;
            background-color: #e9e5e5;
            color: #333;

            .header-bg {
                /* This stretches the canvas across the entire hero unit */
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 70px;
                border-bottom: 1px #FFF solid;
                /* This positions the canvas under the text */
                z-index: 1;
            }

            .content {
                font-family: 'Montserrat', sans-serif;

                .btn {
                    color: #fff;
                    background-color: #f74b4b;

                    &:hover {
                        background-color: #de4545;
                    }
                }
            }
        }
        /********************************/
        /*          Block top           */
        /********************************/
        .block-top {
            margin-top: 1.5em;
        }
        /* Carousel Styles */
        .carousel-indicators .active {
            background-color: #f74b4b;
        }

        .carousel-inner img {
            width: 100%;
            max-height: 460px;
        }

        .carousel-control {
            width: 0;
        }

        .carousel-control.left,
        .carousel-control.right {
            opacity: 1;
            filter: alpha(opacity=100);
            background-image: none;
            background-repeat: no-repeat;
            text-shadow: none;
        }

        .carousel-control.left span {
            padding: 15px;
        }

        .carousel-control.right span {
            padding: 15px;
        }

        .carousel-control .glyphicon-chevron-left,
        .carousel-control .glyphicon-chevron-right,
        .carousel-control .icon-prev,
        .carousel-control .icon-next {
            position: absolute;
            top: 45%;
            z-index: 5;
            display: inline-block;
        }

        .carousel-control .glyphicon-chevron-left,
        .carousel-control .icon-prev {
            left: 10px;
            width: auto;
            height: auto;
            margin-top: 0;
            font-size: 30px;
        }

        .carousel-control .glyphicon-chevron-right,
        .carousel-control .icon-next {
            right: 10px;
            width: auto;
            height: auto;
            margin-top: 0;
            font-size: 30px;
        }

        .carousel-control.left span,
        .carousel-control.right span {
            background-color: #000;
        }

        .carousel-control.left span:hover,
        .carousel-control.right span:hover {
            opacity: .7;
            filter: alpha(opacity=70);
        }
        /* Carousel Header Styles */
        .header-text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            color: #fff;
            -ms-transform: translate(-50%,-50%); /* IE 9 */
            -webkit-transform: translate(-50%,-50%); /* Safari */
            -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }

        .header-text h2 {
            font-size: 40px;
        }

        .header-text h2 span {
            background: rgba(0,0,0,0.5);
            padding: 10px;
        }

        .header-text h3 span {
            background-color: #000;
            padding: 15px;
        }

        .btn-min-block {
            min-width: 170px;
            line-height: 26px;
        }

        .btn-theme {
            color: #fff;
            background-color: transparent;
            border: 2px solid #fff;
            margin-right: 15px;
        }

        .btn-theme:hover {
            color: #000;
            background-color: #fff;
            border-color: #fff;
        }

        .block-destacados {
            float: left;
            margin: 3em 0 1em;
            width: 100%;
            clear: both;

            .un-destacado {
                position: relative;
                img {
                    width: 100%;
                    height: 180px;
                }

                h3 {
                    position: absolute;
                    display:inline-block;
                    margin: 0;
                    padding:0 1em 0.3em 1em;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 2em;
                    color: #fff;
                    top: 50%;
                    left: 0;
                    z-index: 99;
                    -ms-transform: translate(0,-50%); /* IE 9 */
                    -webkit-transform: translate(0,-50%); /* Safari */
                    -moz-transform: translate(0,-50%);
                    -o-transform: translate(0,-50%);
                    transform: translate(0,-50%);
                    background: url("images/subrayado_blanco.png") no-repeat 50% 100%;
                }
            }
        }
        /********************************/
        /*          Block bottom        */
        /********************************/
        .block-center {
            float: left;
            margin-top: 1.5em;
            width: 100%;

            header {
                float: left;
                padding: 0 15px;
                width: 100%;
                clear: both;
            }

            .modulo-3-noticias {
                float: left;
                padding-top:1em;
                width: 100%;
                background: #f8f8f8;
                margin-bottom: 20px;
                header{
                    h2{
                        font-size: 1.8em;
                        margin: 0 0 0.5em;
                        }
                    a.pull-right{
                         display: inline-block;
                        margin: 0 0 0 0;
                        padding: 0.5em 1em;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.8em;
                        color: #fff;
                        text-transform: uppercase;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                        background: #4d4c4c;
                        &:hover{
                            text-decoration:none;
                            background: #313131;
                           }
                        }
                    }
                .inner-modulo {
                    padding: 0;

                    .noticia {
                        float: left;
                        width: 33.3%;
                        margin-bottom: 20px;

                        .inner {
                            padding: 0 15px 0 15px;

                            .foto {
                                position: relative;
                                border-bottom: 3px solid #f74b4b;
                                background: #fff;
                                text-align: center;

                                img {
                                    width: 100%;
                                    height: 146px;
                                }

                                .cintillo {
                                    z-index: 99;
                                    background: #f74b4b;
                                    color: #fff;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    display: inline-block;
                                    font-family: 'Montserrat', sans-serif;
                                    font-size:0.8em;
                                    margin: 0;
                                    padding: 8px 10px;
                                    text-transform: uppercase;
                                    width: auto;
                                }
                            }

                            .texto {
                                background: #fff url(../img/slider-noticias/bg-herradura.jpg) no-repeat 95% 50%;
                                padding: 10px;

                                h3 {
                                    margin: 0.3em 0;
                                    line-height: 21px;
                                    font-size: 18px;
                                    font-weight: 400;
                                    color: #333;

                                    a {
                                        color: #333;
                                    }
                                }

                                i {
                                    color: #f74b4b;
                                }
                            }
                        }
                    }
                }
            }

            .block-center-der {
                .banners {
                    img {
                        margin: 1em 0;
                        width: 100%;
                        height: 120px;
                    }
                }

                .box-element {
                    float: left;
                    width: 100%;
                    clear: both;

                    header {
                        float: left;
                        padding: 0;
                        width: 100%;
                        clear: both;
                        border-bottom: 3px solid #f74b4b;

                        h2 {
                            display: block;
                            margin: 0 0 0.4em;
                            padding: 0.2em 0;
                            font-size: 1.6em;
                            background: url("/Content/images/herradura.png") 100% 0 no-repeat;
                        }
                    }

                    .content {
                        float: left;
                        width: 100%;
                        clear: both;

                        .fila-element {
                            margin: 0;
                            padding: 0.5em 1em;
                            border-top: 1px solid #f8f8f8;

                            h3 {
                                margin: 0 0 0.5em;
                                font-size: 1.2em;
                            }

                            ul {
                                margin: 0 0 0 2em;

                                li {
                                    list-style-type: square;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 1em 0;
        text-align: center;
        color: #fff;
        background: #222;

        .row {
            padding: 0 15px;
        }
    }
}