<div class="page-header">
    <h2>
        <!--ko text: currentEntity().name-->
        <!--/ko-->
        <small data-bind="text: i18n.t('app:COMPETITION')"></small>
    </h2>
</div>
<form role="form" data-bind="submit: save" novalidate>
    <fieldset>
        <div class="form-group">
            <label for="h-competition-name"
                   data-bind="text: i18n.t('app:NAME')"></label>
            <input class="form-control" type="text" id="h-competition-name" autofocus
                   data-bind="value: currentEntity().name,
						attr: { max: validationUtils.MAX_LENGTH,
							maxlength: validationUtils.MAX_LENGTH,
							placeholder: i18n.t('app:NAME'),
							title: i18n.t('app:NAME')}"
                   required>
        </div>
        <div class="form-group">
            <label for="h-athlete-category" data-bind="text: i18n.t('app:CATEGORY')"></label>
            <select id="h-athlete-category"
                    data-bind="options: availableCategories,
							optionsValue: function(item) { return item.id },
							optionsText: function(item) { return item.name },
							optionsCaption : i18n.t('app:CATEGORY') + '...',
							value: currentEntity().categoryId,
							attr: { title: i18n.t('app:CATEGORY') }"
                    required="required" class="form-control" aria-required="true"></select>
        </div>
        <div class="form-group">
            <label for="h-competition-date" data-bind="text: i18n.t('app:COMPETITION_DATE')"></label>
            <div id="h-competition-date-picker" class="date input-group" data-bind="datetimepickerValue: currentEntity().date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="h-competition-date"
                       data-bind="epochValue: currentEntity().date,
	 				attr: { placeholder: i18n.t('app:COMPETITION_DATE'),
	 				title: i18n.t('app:COMPETITION_DATE') }" required>
            </div>
        </div>
        <div class="form-group">
            <label for="h-competition-address"
                   data-bind="text: i18n.t('app:ADDRESS')"></label>
            <input class="form-control" type="text" id="h-competition-address" autofocus
                   data-bind="value: currentEntity().address,
						attr: { max: validationUtils.MAX_LENGTH,
							maxlength: validationUtils.MAX_LENGTH,
							placeholder: i18n.t('app:ADDRESS'),
							title: i18n.t('app:ADDRESS')}"
                   required>
        </div>
        <div class="form-group">
            <label for="h-competition-zipcode"
                   data-bind="text: i18n.t('app:ZIPCODE')"></label>
            <input class="form-control" type="text" id="h-competition-zipcode" autofocus
                   data-bind="value: currentEntity().zipCode,
						attr: { max: validationUtils.LENGTH_ZIPCODE,
							maxlength: validationUtils.LENGTH_ZIPCODE,
							placeholder: i18n.t('app:ZIPCODE'),
							title: i18n.t('app:ZIPCODE')}"
                   required>
        </div>
        <div class="form-group">
            <label for="h-competition-latitude"
                   data-bind="text: i18n.t('app:LATITUDE')"></label>
            <input class="form-control" type="number" id="h-competition-latitude"
                   data-bind="value: currentEntity().latitude,
						attr: { min: validationUtils.MIN_LATITUDE,
							max: validationUtils.MAX_LATITUDE,
							maxlength: validationUtils.MAX_LENGTH,
							step: validationUtils.GEOPOSITIONAL_STEP,
							placeholder: i18n.t('app:LATITUDE'),
							title: i18n.t('app:LATITUDE') }"
                   required>
        </div>
        <div class="form-group">
            <label for="h-competition-longitude"
                   data-bind="text: i18n.t('app:LONGITUDE')"></label>
            <input class="form-control" type="number" id="h-competition-longitude"
                   data-bind="value: currentEntity().longitude,
						attr: { min: validationUtils.MIN_LONGITUDE,
							max: validationUtils.MAX_LONGITUDE,
							maxlength: validationUtils.MAX_LENGTH,
							step: validationUtils.GEOPOSITIONAL_STEP,
							placeholder: i18n.t('app:LONGITUDE'),
							title: i18n.t('app:LONGITUDE') }"
                   required>
        </div>
        <button type="submit"
                data-bind="attr: { title: i18n.t('app:SAVE_BUTTON_TITLE')}"
                class="btn btn-primary">
            <i class="fa fa-save"></i> <span data-bind="text: i18n.t('app:SAVE_BUTTON_TEXT')"></span>
        </button>
        <a data-bind="attr: {
						href: competitionBroker.getListUrl(),
						title: i18n.t('app:CANCEL_BUTTON_TITLE') }"
           class="btn">
            <i class="fa fa-undo"></i> <span data-bind="text: i18n.t('app:CANCEL_BUTTON_TEXT')"></span>
        </a>
    </fieldset>
</form>

