<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <i class="fa fa-info-circle"></i> <!--ko text: currentEntity().name--> <!--/ko--> <small data-bind="text: i18n.t('app:COMPETITION_CATEGORY')"></small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form role="form" data-bind="submit: save" novalidate>
                    <fieldset>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="h-competition-category-name"
                                       data-bind="text: i18n.t('app:NAME')"></label>
                                <input class="form-control" type="text" id="h-competition-category-name" autofocus
                                       data-bind="value: currentEntity().name,
						                attr: { max: validationUtils.MAX_LENGTH,
							                maxlength: validationUtils.MAX_LENGTH,
							                placeholder: i18n.t('app:NAME'),
							                title: i18n.t('app:NAME')}"
                                                       required>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit"
                                    data-bind="attr: { title: i18n.t('app:SAVE_BUTTON_TITLE')}"
                                    class="btn btn-primary">
                                <i class="fa fa-save"></i> <span data-bind="text: i18n.t('app:SAVE_BUTTON_TEXT')"></span>
                            </button>
                            <a data-bind="attr: {
						        href: competitionCategoryBroker.getListUrl(),
						        title: i18n.t('app:CANCEL_BUTTON_TITLE') }"
                               class="btn">
                                <i class="fa fa-undo"></i> <span data-bind="text: i18n.t('app:CANCEL_BUTTON_TEXT')"></span>
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>