<div class="page-header">
	<h2>
		<!--ko text: currentEntity().name-->
		<!--/ko-->
        <small data-bind="text: i18n.t('app:JUDGE')"></small>
	</h2>
</div>
<ul class="nav nav-tabs">
	<li data-bind="css: { 
			active: nav() === navs.BASIC_DATA
		}"><a href="#"
   data-bind="
			attr: {
				href: nav() !== navs.BASIC_DATA ? judgeBroker.getDetailUrlById(currentEntity().id) : 'javascript:void(0)',
			title: i18n.t('app:BASIC_DATA')
			},
			text: i18n.t('app:BASIC_DATA')"></a></li>
	<li
		data-bind="css: { 
			active: nav() === navs.IMAGES, 
			disabled: !currentEntity().id
		}"><a href="#"
   data-bind="
			attr: {
				href: nav() !== navs.IMAGES && currentEntity().id ? judgeBroker.getImagesUrlById(currentEntity().id) : 'javascript:void(0)',
				title: i18n.t('app:IMAGES')
			},
			text: i18n.t('app:IMAGES')"></a></li>
</ul>