<div data-bind="compose: 'judgeNavs.html'"></div>
<form role="form">
	<div class="row-fluid">
		<div class="span6">
			<fieldset>
				<legend>
                    <span data-bind="text: i18n.t('app:PHOTO')"></span>
				</legend>
				<div id="h-judge-photo-dropzone" class="control-group">
					<div id="h-judge-photo-thumbnail" class="thumbnail">
						<img
							data-bind="attr: {
									src: currentEntity().photoId ? fileBroker.getUrlByUuid(currentEntity().photo.fileUuid) : '',
									alt: i18n.t('app:PHOTO'),
									title: i18n.t('app:PHOTO')
								}, imageHolder: '115x150'">
					</div>
					<div id="h-judge-photo-progress"
						class="progress progress-striped active">
						<div class="bar" style="width: 0%;"></div>
					</div>
					<label for="h-judge-photo" data-bind="text: i18n.t('app:PHOTO')"
						class="control-label"></label>
					<div class="controls">
						<div class="input-append">
							<input type="file" id="h-judge-photo"
								data-bind="fileupload: {
										broker: judgeBroker,
										entityId: currentEntity().id,
										dropZone: '#h-judge-photo-dropzone',
										thumbnail: '#h-judge-photo-thumbnail',
										progress: '#h-judge-photo-progress'
									},
									attr: { 
										max: validationUtils.MAX_FILES, 
										placeholder: i18n.t('app:PHOTO'),
 										title: i18n.t('app:PHOTO')
 									}"
								required> <span class="add-on"><i
								data-bind="attr: { title: i18n.t('app:PHOTO'), 
									'data-content': i18n.format(i18n.t('app:IMAGE_POPOVER'), validationUtils.MAX_FILE_SIZE) }, 
									popover: ''"
								data-trigger="hover" data-animation="true" class="fa fa-picture-o"></i></span>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</form>

