<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-info-circle"></i> <!--ko text: currentEntity().name--><!--/ko--> <small data-bind="text: i18n.t('app:JUDGE')"></small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <div data-bind="compose: 'judgeNavs.html'"></div>
            <form role="form" data-bind="submit: save" novalidate>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="required" for="h-judge-name"
                               data-bind="text: i18n.t('app:NAME')"></label>
                        <input class="form-control" type="text" id="h-judge-name" autofocus
                               data-bind="value: currentEntity().name,
					        attr: { max: validationUtils.MAX_LENGTH,
						        maxlength: validationUtils.MAX_LENGTH,
						        placeholder: i18n.t('app:NAME'),
						        title: i18n.t('app:NAME')}">
                    </div>
                    <div class="form-group">
                        <label class="required" for="h-judge-surnames"
                               data-bind="text: i18n.t('app:SURNAMES')"></label>
                        <input class="form-control" type="text" id="h-judge-surnames" autofocus
                               data-bind="value: currentEntity().surnames,
					        attr: { max: validationUtils.MAX_LENGTH,
						        maxlength: validationUtils.MAX_LENGTH,
						        placeholder: i18n.t('app:SURNAMES'),
						        title: i18n.t('app:SURNAMES')}"
                               required>
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6 without-padding-left">
                    <label class="required" for="h-athlete-gender" data-bind="text: i18n.t('app:GENDER')"></label>
                    <select id="h-athlete-gender"
                            data-bind="options: availableGenders,
							    optionsValue: function(item) { return item.value },
							    optionsText: function(item) { return item.text },
							    optionsCaption : i18n.t('app:GENDER') + '...',
							    value: currentEntity().gender,
							    attr: { title: i18n.t('app:GENDER') }"
                            required class="form-control" aria-required="true"></select>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="submit"
                            data-bind="attr: { title: i18n.t('app:SAVE_BUTTON_TITLE')}"
                            class="btn btn-primary">
                        <i class="fa fa-save"></i> <span data-bind="text: i18n.t('app:SAVE_BUTTON_TEXT')"></span>
                    </button>
                    <a data-bind="attr: {
					href: judgeBroker.getListUrl(),
					title: i18n.t('app:CANCEL_BUTTON_TITLE') }"
                       class="btn">
                        <i class="fa fa-undo"></i> <span data-bind="text: i18n.t('app:CANCEL_BUTTON_TEXT')"></span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>