<div class="">
    <div id="wrapper">
        <div id="login" class="animate form">
            <section class="login_content">
                <form role="form" data-bind="submit: login">
                    <h1 data-i18n="app:LOGIN_TITLE"></h1>
                    <div>
                        <input class="form-control" type="email" data-bind="value: credentials.userName, attr: { placeholder: i18n.t('app:EMAIL') }"
                               required autofocus
                               title="Tu dirección de correo electrónico">
                    </div>
                    <div>
                        <input class="form-control" type="password" data-bind="value: credentials.password, attr: { placeholder: i18n.t('app:PASSWORD') }"
                               required>
                    </div>
                    <div class="checkbox">
                        <label class="">
                            <div class="icheckbox_flat-red" style="position: relative;">
                                <input type="checkbox" class="flat" style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"></ins>
                            </div> <!-- ko text: i18n.t('app:REMEMBER_ME') --><!-- /ko -->
                        </label>
                    </div>
                    <div>
                        <button type="submit"
                                title="Entrar en el backoffice de hípica"
                                class="btn btn-lg btn-success btn-block" data-i18n="app:LOGIN"></button>
                    </div>
                </form>
                <!-- form -->
            </section>
            <!-- content -->
        </div>
    </div>
</div>