<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-info-circle"></i> <!--ko text: currentEntity().userName--><!--/ko--> <small data-bind="text: i18n.t('app:EMAIL')"></small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <div data-bind="compose: 'userNavs.html'"></div>
            <!-- ko if: currentEntity().id !== undefined -->
            <form data-bind="submit: save" class="form-horizontal">
                <div class="row-fluid">
                    <div class="span6">
                        <fieldset>
                            <legend data-bind="text: i18n.CHANGE_PASSWORD"></legend>
                            <div class="control-group">
                                <label for="mo-user-old-password"
                                       data-bind="text: i18n.OLD_PASSWORD" class="control-label">
                                </label>
                                <div class="controls">
                                    <input type="password" id="mo-user-old-password" autofocus
                                           data-bind="value: currentEntity().oldPassword,
								attr: {
									max: validationUtils.MAX_LENGTH,
									maxlenght: validationUtils.MAX_LENGTH,
									placeholder: i18n.OLD_PASSWORD,
									title: i18n.OLD_PASSWORD }"
                                           required autocomplete="off">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="mo-user-new-password"
                                       data-bind="text: i18n.NEW_PASSWORD" class="control-label">
                                </label>
                                <div class="controls">
                                    <div id="mo-user-password" class="input-append">
                                        <input type="password" id="mo-user-new-password"
                                               data-bind="compare: { value: currentEntity().newPassword, otherValue: currentEntity().confirmNewPassword, comparator: validationUtils.COMPARATOR.EQ, otherElement: '#mo-user-confirm-new-password', errorMessage: i18n.PASSWORDS_NOT_EQUAL_MESSAGE },
								attr: {
									pattern: validationUtils.PASSWORD_PATTERN,
									min: validationUtils.MIN_PASSWORD_LENGTH,
									max: validationUtils.MAX_LENGTH,
									maxlenght: validationUtils.MAX_LENGTH,
									placeholder: i18n.NEW_PASSWORD,
									title: i18n.NEW_PASSWORD }"
                                               required autocomplete="off"><span class="add-on">
                                            <i data-bind="attr: { title: i18n.PASS_SECURITY_TITLE,
									'data-content': i18n.format(i18n.PASSWORD_SECURITY_POPOVER, validationUtils.MIN_PASSWORD_LENGTH, validationUtils.MAX_LENGTH) },
									popover: ''"
                                               data-trigger="hover" data-animation="true" class="fa fa-question"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="mo-user-confirm-new-password"
                                       data-bind="text: i18n.CONFIRM_NEW_PASSWORD" class="control-label">
                                </label>
                                <div class="controls">
                                    <input type="password" id="mo-user-confirm-new-password"
                                           data-bind="compare: { value: currentEntity().confirmNewPassword, otherValue: currentEntity().newPassword, comparator: validationUtils.COMPARATOR.EQ, otherElement: '#mo-user-new-password', errorMessage: i18n.PASSWORDS_NOT_EQUAL_MESSAGE },
								attr: {
									max: validationUtils.MAX_LENGTH,
									maxlenght: validationUtils.MAX_LENGTH,
									placeholder: i18n.CONFIRM_NEW_PASSWORD,
									title: i18n.CONFIRM_NEW_PASSWORD }"
                                           required autocomplete="off">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit"
                            data-bind="attr: { title: i18n.SAVE_BUTTON_TITLE}"
                            class="btn btn-primary">
                        <i class="fa fa-save"></i> <span data-bind="text: i18n.SAVE_BUTTON_TEXT"></span>
                    </button>
                    <a data-bind="attr: {
				href: userBroker.getListUrl(),
				title: i18n.CANCEL_BUTTON_TITLE }"
                       class="btn">
                        <i class="fa fa-undo"></i> <span data-bind="text: i18n.CANCEL_BUTTON_TEXT"></span>
                    </a>
                </div>
            </form>
            <!-- /ko -->
        </div>
    </div>
</div>