<section class="header-block">
    <div class="container">
        <div class="row">
            <h1 data-bind="text: (nextFilter().specialtyId() === '1' ? 'Doma' : 'Salto') + ' - Jinetes'"></h1>
        </div>
    </div>
</section>
<nav class="nav navbar menu-principal">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a data-bind="attr: { href: specialtyBroker.getDetailUrlById(nextFilter().specialtyId()) }">Inicio</a></li>
            <li role="presentation" class="active"><a data-bind="attr: { href: athleteBroker.getListUrl(nextFilter().specialtyId()) }">Jinetes</a></li>
            <li role="presentation"><a data-bind="attr: { href: horseBroker.getListUrl(nextFilter().specialtyId()) }">Caballos</a></li>
            <li role="presentation"><a data-bind="attr: { href: competitionBroker.getListUrl(nextFilter().specialtyId()) }">Concursos</a></li>
            <li role="presentation"><a data-bind="attr: { href: judgeBroker.getListUrl(nextFilter().specialtyId()) }">Jueces</a></li>
        </ul>
    </div>
</nav>
<section id="contenido-interior">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form data-bind="submit: search" class="form-inline">
                    <div id="custom-search-input">
                        <div class="campo-buscador col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control input-lg" type="text" id="h-athlete-filter-name"
                                   data-bind="value: nextFilter().name, attr: { max: validationUtils.MAX_LENGTH, maxlength: validationUtils.MAX_LENGTH, placeholder: i18n.t('NAME') + '...', title : i18n.t('ATHLETE_NAME_FILTER') }" />
                        </div>
                        <div class="campo-buscador col-md-3 col-sm-3 col-xs-6">
                            <input class="form-control input-lg" type="text" id="h-athlete-filter-federation"
                                   data-bind="value: nextFilter().federation, attr: { max: validationUtils.MAX_LENGTH, maxlength: validationUtils.MAX_LENGTH, placeholder: i18n.t('FEDERATION') + '...', title : i18n.t('ATHLETE_FEDERATION_FILTER') }" />
                        </div>
                        <div class="campo-buscador col-md-2 col-sm-2 col-xs-4">
                            <select id="h-athlete-filter-gender"
                                    data-bind="options: availableGenders,
								optionsValue: function(item) { return item.value },
								optionsText: function(item) { return item.text },
								optionsCaption : i18n.t('app:GENDER') + '...',
								value: nextFilter().gender,
								attr: { title: i18n.t('app:GENDER') }"
                                    class="form-control input-lg"></select>
                        </div>
                        <div class="campo-buscador col-md-1 col-sm-1 col-xs-2">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <section class="listado-elements col-xs-12 col-sm-6 col-md-12" data-bind="visible: !(currentPage().isEmpty())">
                <h2>Listado Jinetes</h2>
                <div data-bind="foreach: currentPage().content">
                    <article class="one-element col-md-4 col-sm-4 col-xs-8">
                        <div class="foto-listados col-md-3 col-sm-3 col-xs-6">
                            <a data-bind="attr: { href: $root.athleteBroker.getDetailUrlById(id), title: $root.i18n.t('app:UPDATE_BUTTON_TITLE') }">
                                <img alt="Lorem ipsum" data-bind="attr: { src: photoId ? $root.fileBroker.getUrlByUuid(photo.fileUuid) : '/Content/images/hipicapp-defecto-usuario.png' }">
                            </a>
                        </div>
                        <div class="info-listados col-md-9 col-sm-9 col-xs-18">
                            <h3><span data-bind="text: name"></span> <span data-bind="text: surnames"></span></h3>
                            <p>
                                <strong>Federaci&oacute;n:</strong>
                                <span data-bind="text: federation"></span>
                            </p>
                            <p>
                                <strong>Fecha Nacimiento:</strong>
                                <!-- ko text: moment(birthDate).format($root.i18n.t('app:DATE_PATTERN')) --><!-- /ko -->
                            </p>
                            <a class="ver-todo" data-bind="attr: { href: $root.athleteBroker.getDetailUrlById(id), title: $root.i18n.t('app:UPDATE_BUTTON_TITLE') }">
                                <i class="fa fa-plus" aria-hidden="true"></i> Ver ficha
                            </a>
                        </div>
                        <span class="clearfix borda"></span>
                    </article>
                </div>

                <div class="paginador col-xs-12 col-sm-6 col-md-12" data-bind="compose: 'pager.html'"></div>
            </section>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</section>