<header class="col-md-12 col-sm-12 col-xs-24">
    <h2 class="pull-left">Mis Caballos</h2>
    <!-- ko if: securityContext.isAuthenticated() -->
    <a class="pull-right" data-bind="attr: { href: horseBroker.getEditUrlById() }">
        <i class="fa fa-plus" aria-hidden="true"></i> <!-- ko text: i18n.t('app:CREATE_BUTTON_TEXT') --><!-- /ko -->
    </a>
    <!-- /ko -->
</header>
<article class="row">
    <div class="acenter encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Foto
    </div>
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Nombre
    </div>
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Nacimiento
    </div>
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Peso y Altura
    </div>
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Sexo
    </div>
    <div class="acenter encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Acciones
    </div>
</article>
<article data-bind="foreach: currentPage().content">
    <div class="row">
        <div class="foto-listados col-md-2 col-sm-2 col-xs-4">
            <img alt="Lorem ipsum" data-bind="attr: { src: $data.photoId ? $root.fileBroker.getUrlByUuid($data.photo.fileUuid) : '/Content/images/hipicapp-defecto-caballo.png' }">
        </div>
        <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: name">
        </div>
        <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: moment(birthDate).format($root.i18n.t('app:DATE_PATTERN'))">
        </div>
        <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: weight + 'kg y ' + height + 'cm'">
        </div>
        <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: $root.availableGenders[gender]">
        </div>
        <div class="acenter datos-listados col-md-2 col-sm-2 col-xs-4">
            <!-- ko if: $root.securityContext.isAuthenticated() && athlete.userId === parseInt($root.securityContext.getPrincipal().id) -->
                <a class="accion" data-bind="attr: {
				    href: $root.horseBroker.getEditUrlById(id),
				    title: $root.i18n.t('app:UPDATE_BUTTON_TITLE') }">
                    <i class="fa fa-pencil"></i>
                </a>
            <a class="accion" href="#" data-bind="click: $root.deleteRow,
				    attr: { title: $root.i18n.t('app:DELETE_BUTTON_TITLE') }">
                <i class="fa fa-trash"></i>
            </a>
            <!-- /ko -->
        </div>
    </div>
</article>
<div data-bind="visible: currentPage().isEmpty() && !(shell.isLoading())" class="alert alert-info alert-block">
    <div>
        <strong data-bind="text: i18n.t('ATHLETE_HORSE_LIST_EMPTY_SUMMARY')"></strong>
    </div>
    <span data-bind="html: i18n.t('ATHLETE_HORSE_LIST_EMPTY_DETAIL')"></span>
</div>
<div class="paginador col-md-12 col-sm-12 col-xs-24" data-bind="compose: 'pager.html'"></div>