<header class="col-md-12 col-sm-12 col-xs-24">
    <h2 class="pull-left">Mis Concursos</h2>
    <h2 class="pull-left">  |  Pr&oacute;ximos Concursos</h2>
    <a class="pull-right" href="Ver todos">Ver todos</a>
</header>
<article class="row">
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Foto Concurso
    </div>
    <div class="encabezado-listados col-md-3 col-sm-3 col-xs-6">
        Nombre Concurso
    </div>
    <div class="encabezado-listados col-md-3 col-sm-3 col-xs-6">
        Direcci&oacute;n
    </div>
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Fecha
    </div>
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Categor&iacute;a
    </div>
</article>
<article class="row" data-bind="foreach: currentPage().content">
    <div class="foto-listados col-md-2 col-sm-2 col-xs-4">
        <img alt="Foto caballo" src="/Content/images/foto_caballo.jpg" />
    </div>
    <div class="datos-listados col-md-3 col-sm-3 col-xs-6">
        CSN** Real Club de Polo de Barcelona
    </div>
    <div class="datos-listados col-md-3 col-sm-3 col-xs-6">
        Real Club De Polo Barcelona
    </div>
    <div class="datos-listados col-md-2 col-sm-2 col-xs-4">
        06/05/2016
    </div>
    <div class="datos-listados col-md-2 col-sm-2 col-xs-4">
        Infantil
    </div>
</article>