<section class="header-block">
    <div class="container">
        <div class="row">
            <h1>
                <span data-bind="text: currentEntity().name"></span>
                Clasificaci&oacute;n
            </h1>
        </div>
    </div>
</section>
<nav class="nav navbar menu-principal">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a data-bind="attr: { href: specialtyBroker.getDetailUrlById(currentEntity().id) }">Inicio</a></li>
            <li role="presentation" class="active"><a data-bind="attr: { href: athleteBroker.getListUrl(currentEntity().id) }">Jinetes</a></li>
            <li role="presentation"><a data-bind="attr: { href: horseBroker.getListUrl(currentEntity().id) }">Caballos</a></li>
            <li role="presentation"><a data-bind="attr: { href: competitionBroker.getListUrl(currentEntity().id) }">Concursos</a></li>
            <li role="presentation"><a data-bind="attr: { href: judgeBroker.getListUrl(currentEntity().id) }">Jueces</a></li>
        </ul>
    </div>
</nav>
<section id="contenido-interior">
    <div class="container">
        <div class="row">
            <div class="block-ficha clasificacion col-md-12 col-sm-12 col-xs-12">
                <div class="listado-elements col-md-12 col-sm-12 col-xs-12">
                    <header class="col-md-12 col-sm-12 col-xs-12">
                        <h2>Clasificaci&oacute;n</h2>
                    </header>
                    <div class="block-center">
                        <div class="block-center-der">
                            <div class="box-element">
                                <div class=" fondo-trofeo col-md-4 col-sm-4 col-xs-12">&nbsp;</div>
                                <div class="listado-clasificacion col-md-8 col-sm-8 col-xs-12">
                                    <ul data-bind="foreach: ranking">
                                        <li>
                                            <h3>
                                                <span data-bind="text: ($index() + 1) + '.'"></span>
                                                <a data-bind="attr: { href: $root.athleteBroker.getDetailUrlById(athlete.id) }, text: athlete.fullName"></a>
                                            </h3>
                                            <span class="puntos pull-right">
                                                <!-- ko text: value --><!-- /ko --> puntos
                                            </span>
                                        </li>
                                    </ul>
                                    <div data-bind="visible: ranking().length === 0 && !(shell.isLoading())" class="alert alert-info alert-block">
                                        <div>
                                            <strong data-bind="text: i18n.t('CLASSIFICATION_LIST_EMPTY_SUMMARY')"></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>