<section class="header-block">
    <div class="container">
        <div class="row">
            <h1 data-bind="text: 'Inscripci&oacute;n'"></h1>
        </div>
    </div>
</section>

<section id="contenido-interior">
    <div class="container">
        <div class="row">
            <div class="block-ficha col-md-12 col-sm-12 col-xs-24">
                <div class="ficha-col-izq col-md-12 col-sm-12 col-xs-24">
                    <header class="col-md-12 col-sm-12 col-xs-24">
                        <h2 class="pull-left">Mis Caballos</h2>
                    </header>
                    <article class="row">
                        <div class="encabezado-listados col-md-1 col-sm-1 col-xs-2">
                            &nbsp;
                        </div>
                        <div class="acenter encabezado-listados col-md-2 col-sm-2 col-xs-4">
                            Foto Caballos
                        </div>
                        <div class="encabezado-listados col-md-3 col-sm-3 col-xs-6">
                            Nombre Caballo
                        </div>
                        <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
                            Fecha nacimiento
                        </div>
                        <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
                            Peso y Altura
                        </div>
                        <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
                            Sexo Caballo
                        </div>
                    </article>
                    <article data-bind="foreach: currentPage().content">
                        <div class="row" data-bind="css: $root.getRowClass($data)">
                            <div class="datos-listados acenter col-md-1 col-sm-1 col-xs-2">
                                <input name="inscription" data-bind="event: { change: $root.enroll }, checkedValue: id, checked: assign" type="radio" />
                            </div>
                            <div class="foto-listados col-md-2 col-sm-2 col-xs-4">
                                <img alt="Lorem ipsum" data-bind="attr: { src: $data.photoId ? $root.fileBroker.getUrlByUuid($data.photo.fileUuid) : '/Content/images/hipicapp-defecto-caballo.png' }">
                            </div>
                            <div class="datos-listados col-md-3 col-sm-3 col-xs-6" data-bind="text: name">
                            </div>
                            <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: moment(birthDate).format($root.i18n.t('app:DATE_PATTERN'))">
                            </div>
                            <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: weight + 'kg y ' + height + 'cm'">
                            </div>
                            <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: $root.availableGenders[gender]">
                            </div>
                        </div>
                    </article>
                    <div data-bind="visible: currentPage().isEmpty() && !(shell.isLoading())" class="alert alert-info alert-block">
                        <div>
                            <strong data-bind="text: i18n.t('HORSE_LIST_EMPTY_SUMMARY')"></strong>
                        </div>
                        <span data-bind="html: i18n.t('HORSE_LIST_EMPTY_DETAIL')"></span>
                    </div>
                    <div class="paginador col-md-12 col-sm-12 col-xs-24" data-bind="compose: 'pager.html'"></div>
                </div>
            </div>
        </div>
    </div>
</section>