<section class="header-block">
    <div class="container">
        <div class="row">
            <h1>Doma</h1>
        </div>
    </div>
</section>
<nav class="nav navbar menu-principal">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Atletas</a></li>
            <li role="presentation"><a href="#">Caballos</a></li>
            <li role="presentation"><a href="#">Concursos</a></li>
            <li role="presentation"><a href="#">Jueces</a></li>
        </ul>
    </div>
</nav>
<section id="contenido-interior">
    <div class="container">
        <div class="fila-elementos">
            <div class="row">
                <header>
                    <h2 class="pull-left">Concursos</h2>
                    <a href="#" class="pull-right">Ver todos &raquo;</a>
                </header>
                <section class="content-elementos col-sm-12">
                    <div class="col-sm-3 primero">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 ultimo">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="fila-elementos">
            <div class="row">
                <header>
                    <h2 class="pull-left">Atletas</h2>
                    <a href="#" class="pull-right">Ver todos &raquo;</a>
                </header>
                <section class="content-elementos col-sm-12">
                    <div class="col-sm-3 primero">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 ultimo">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="fila-elementos">
            <div class="row">
                <header>
                    <h2 class="pull-left">Caballos</h2>
                    <a href="#" class="pull-right">Ver todos &raquo;</a>
                </header>
                <section class="content-elementos col-sm-12">
                    <div class="col-sm-3 primero">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 ultimo">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="fila-elementos">
            <div class="row">
                <header>
                    <h2 class="pull-left">Jueces</h2>
                    <a href="#" class="pull-right">Ver todos &raquo;</a>
                </header>
                <section class="content-elementos col-sm-12">
                    <div class="col-sm-3 primero">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 ultimo">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                            <div class="avatar">
                                <img src="/Content/images/foto_doma_clasica.jpg">
                            </div>
                            <div class="content">
                                <p>Nombre Concurso1</p>
                                <p><button type="button" class="btn btn-default">Contact</button></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>