<div class="row">
    <div class="col-sm-6 block-home block-doma">
        <img class="foto-home" src="/Content/images/foto_doma_clasica.jpg" alt="Doma" />
        <a href="javascript:void(0);" data-bind="click: router.navigateToDressage">
            <img src="/Content/images/dressage.png" />
            Doma
            <span>Más información</span>
        </a>
    </div>
    <div class="col-sm-6 block-home block-salto">
        <img class="foto-home" src="/Content/images/foto_salto.jpg" alt="Salto" />
        <a href="javascript:void(0);" data-bind="click: router.navigateToJump">
            <img src="/Content/images/jump.png" />
            Salto
            <span>Más información</span>
        </a>
    </div>
</div>