<section class="header-block">
    <div class="container">
        <div class="row">
            <h1 data-bind="text: 'Ficha'"></h1>
        </div>
    </div>
</section>
<nav class="nav navbar menu-principal">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a data-bind="attr: { href: specialtyBroker.getDetailUrlById(currentEntity().athlete.specialtyId) }">Inicio</a></li>
            <li role="presentation"><a data-bind="attr: { href: athleteBroker.getListUrl(currentEntity().athlete.specialtyId) }">Jinetes</a></li>
            <li role="presentation" class="active"><a data-bind="attr: { href: horseBroker.getListUrl(currentEntity().athlete.specialtyId) }">Caballos</a></li>
            <li role="presentation"><a data-bind="attr: { href: competitionBroker.getListUrl(currentEntity().athlete.specialtyId) }">Concursos</a></li>
            <li role="presentation"><a data-bind="attr: { href: judgeBroker.getListUrl(currentEntity().athlete.specialtyId) }">Jueces</a></li>
        </ul>
    </div>
</nav>
<section id="contenido-interior">
    <div class="container">
        <div class="row">
            <div class="block-ficha col-md-12 col-sm-12 col-xs-24">
                <div class="ficha-col-izq col-md-8 col-sm-8 col-xs-16">
                    <section id="mis-concursos"
                             data-bind="compose: { model: 'viewmodels/horseCompetitions', activationData: currentEntity().id }"></section>
                </div>
                <div class="ficha-col-der col-md-4 col-sm-4 col-xs-8">
                    <article>
                        <div class="foto-listados col-md12 col-sm-12 col-xs-24">
                            <img alt="Lorem ipsum" data-bind="attr: { src: currentEntity().photoId ? fileBroker.getUrlByUuid(currentEntity().photo.fileUuid) : '/Content/images/hipicapp-defecto-caballo.png' }">
                        </div>
                        <div class="info-listados col-md-12 col-sm-12 col-xs-24">
                            <h3 data-bind="text: currentEntity().name"></h3>
                            <p>
                                <strong>Sexo:</strong>
                                <span data-bind="text: $root.availableGenders[currentEntity().gender()]"></span>
                            </p>
                            <p>
                                <strong>Peso:</strong>
                                <span data-bind="text: currentEntity().weight + 'kg'"></span>
                            </p>
                            <p>
                                <strong>Altura:</strong>
                                <span data-bind="text: currentEntity().height + 'cm'"></span>
                            </p>
                            <p>
                                <strong>Fecha Nacimiento:</strong>
                                <span data-bind="text: moment(currentEntity().birthDate()).format($root.i18n.t('app:DATE_PATTERN'))"></span>
                            </p>
                            <p>
                                <strong>Jinete:</strong>
                                <span data-bind="text: currentEntity().athlete.fullName"></span>
                            </p>
                            <!-- ko if: securityContext.isAuthenticated() && currentEntity().athlete.userId === parseInt(securityContext.getPrincipal().id) -->
                            <a class="ver-todo" data-bind="attr: { href: $root.horseBroker.getEditUrlById(currentEntity().id), title: $root.i18n.t('app:UPDATE_BUTTON_TITLE') }">
                                <i class="fa fa-edit" aria-hidden="true"></i> Editar
                            </a>
                            <!-- /ko -->
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>