<header class="col-md-12 col-sm-12 col-xs-24">
    <h2 class="pull-left">Participaciones</h2>
</header>
<article class="row">
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Foto Concurso
    </div>
    <div class="encabezado-listados col-md-3 col-sm-3 col-xs-6">
        Nombre Concurso
    </div>
    <div class="encabezado-listados col-md-3 col-sm-3 col-xs-6">
        Recinto
    </div>
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Fechas
    </div>
    <div class="encabezado-listados col-md-2 col-sm-2 col-xs-4">
        Categor&iacute;a
    </div>
</article>
<article data-bind="foreach: currentPage().content">
    <div class="row">
        <div class="foto-listados col-md-2 col-sm-2 col-xs-4">
            <img alt="Foto caballo" data-bind="attr: { src: competition.photoId ? $root.fileBroker.getUrlByUuid(competition.photo.fileUuid) : '/Content/images/hipicapp-defecto-' + competition.specialty.id + '.png' }" />
        </div>
        <div class="datos-listados col-md-3 col-sm-3 col-xs-6" data-bind="text: competition.name">
        </div>
        <div class="datos-listados col-md-3 col-sm-3 col-xs-6" data-bind="text: competition.address">
        </div>
        <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: moment(competition.startDate).format($root.i18n.t('app:DATE_PATTERN')) + ' - ' + moment(competition.endDate).format($root.i18n.t('app:DATE_PATTERN'))">
        </div>
        <div class="datos-listados col-md-2 col-sm-2 col-xs-4" data-bind="text: competition.category.name">
        </div>
    </div>
</article>
<div data-bind="visible: currentPage().isEmpty() && !(shell.isLoading())" class="alert alert-info alert-block">
    <div>
        <strong data-bind="text: i18n.t('ATHLETE_COMPETITION_LIST_EMPTY_SUMMARY')"></strong>
    </div>
    <span data-bind="html: i18n.t('ATHLETE_COMPETITION_LIST_EMPTY_DETAIL')"></span>
</div>
<div class="paginador col-md-12 col-sm-12 col-xs-24" data-bind="compose: 'pager.html'"></div>