<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" data-bind="text: i18n.t('app:JUDGES')"></h1>
            <form data-bind="submit: search" class="form-inline">
                <fieldset>
                    <legend data-bind="text: i18n.t('JUDGE_FILTER_LEGEND')"></legend>
                    <div class="col-md-2 col-sm-2 col-xs-4 without-padding-left">
                        <input class="form-control input-sm" type="text" id="h-judge-filter-name"
                               data-bind="value: nextFilter().name, attr: { max: validationUtils.MAX_LENGTH, maxlength: validationUtils.MAX_LENGTH, placeholder: i18n.t('NAME') + '...', title : i18n.t('JUDGE_NAME_FILTER') }" />
                    </div>
                    <button type="submit" data-bind="attr: { title: i18n.t('SEARCH_BUTTON_TITLE') }" class="btn btn-primary btn-sm">
                        <i class="fa fa-search"></i> <span data-bind="text: i18n.t('SEARCH_BUTTON_TEXT')"></span>
                    </button>
                    <button type="submit" data-bind="click: clearFilter, attr: { title: i18n.CLEAR_BUTTON_TITLE }" class="btn btn-sm">
                        <i class="fa fa-refresh"></i> <span data-bind="text: i18n.CLEAR_BUTTON_TEXT"></span>
                    </button>
                </fieldset>
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h2><span data-bind="text: i18n.t('app:JUDGE_LIST_CAPTION')"></span></h2>
            <ul data-bind="foreach: currentPage().content">
                <li>
                    <img alt="User Pic" data-bind="attr: { src: $root.fileBroker.getUrlByUuid(photo ? photo.fileUuid : null) }" class="img-responsive">
                    <span data-bind="text: name"></span>
                    <span data-bind="text: surnames"></span>
                    <a class="btn btn-info btn-xs" data-bind="attr: {
						                    href: $root.judgeBroker.getDetailUrlById(id),
						                    title: $root.i18n.t('app:UPDATE_BUTTON_TITLE') }">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
