<section class="header-block">
    <div class="container">
        <div class="row">
            <h1>Doma</h1>
        </div>
    </div>
</section>
<nav class="nav navbar menu-principal">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Inicio</a></li>
            <li role="presentation"><a href="#">Atletas</a></li>
            <li role="presentation"><a href="#">Caballos</a></li>
            <li role="presentation"><a href="#">Concursos</a></li>
            <li role="presentation"><a href="#">Jueces</a></li>
        </ul>
    </div>
</nav>
<section id="contenido-interior">
    <div class="container">

        <div class="block-top">
            <div class="col-md-12 col-sm-12 col-xs-24">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/Content/images/foto_carrusel_salto1.jpg" alt="First slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                                        <span>Welcome to <strong>LOREM IPSUM</strong></span>
                                    </h2>
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="/Content/images/foto_carrusel_salto2.jpg" alt="Second slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                                        <span>Welcome to LOREM IPSUM</span>
                                    </h2>
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="/Content/images/foto_carrusel_salto3.jpg" alt="Third slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                                        <span>Welcome to LOREM IPSUM</span>
                                    </h2>
                                </div>
                            </div><!-- /header-text -->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div><!-- /carousel -->
            </div>
        </div>

        <div class="block-destacados">
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="un-destacado">
                    <img src="/Content/images/foto_caballo2.jpg" alt="Third slide">
                    <h3>Atletas</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="un-destacado">
                    <img src="/Content/images/foto_carrusel_salto2.jpg" alt="Third slide">
                    <h3>Caballos</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="un-destacado">
                    <img src="/Content/images/foto_carrusel_salto3.jpg" alt="Third slide">
                    <h3>Atletas</h3>
                </div>
            </div>
        </div>

        <div class="block-center">
            <div class="col-md-8 col-sm-8 col-xs-16">
                <div class="modulo-3-noticias">
                    <header>
                        <h2 class="pull-left">
                            Próximos Concursos
                        </h2>
                        <a class="pull-right" href="#" title="Ver todos">Ver todos &raquo;</a>
                    </header>
                    <div class="inner-modulo">
                        <div class="noticia">
                            <div class="inner">
                                <div class="foto">
                                    <a href="/Deporte/saltos/articulo/recorridos-de-la-segunda-jornada-del-csn5-toledo-23-4-2016
                            " title="Ver artículo">
                                        <div class="cintillo">Madrid</div>
                                        <img src="/Content/images/foto_concurso.jpg">
                                    </a>
                                </div>
                                <div class="texto">
                                    <h3>Nombre Concurso1</h3>
                                    <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> 15/06/2016</p>
                                </div>
                            </div>
                        </div>
                        <div class="noticia">
                            <div class="inner">
                                <div class="foto">
                                    <a href="/Consultorios/juridico/articulo/seguros-voluntarios-y-obligatorios-para-trabajar-con-caballos" title="Ver artículo">
                                        <div class="cintillo">Gijón</div>
                                        <img src="/Content/images/foto_caballo2.jpg">
                                    </a>
                                </div>
                                <div class="texto">
                                    <h3>Nombre Concurso2</h3>
                                    <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> 15/06/2016</p>
                                </div>
                            </div>
                        </div>
                        <div class="noticia">
                            <div class="inner">
                                <div class="foto">
                                    <a href="/Caballo/consejos/articulo/sabes-cual-es-el-contenido-de-humedad-de-tu-forraje" title="Ver artículo">
                                        <div class="cintillo">Santander</div>
                                        <img src="/Content/images/descarga.jpg">
                                    </a>
                                </div>
                                <div class="texto">
                                    <h3>Nombre Concurso3</h3>
                                    <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> 15/06/2016</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-modulo">
                        <div class="noticia">
                            <div class="inner">
                                <div class="foto">
                                    <a href="/Deporte/saltos/articulo/recorridos-de-la-segunda-jornada-del-csn5-toledo-23-4-2016
                            " title="Ver artículo">
                                        <div class="cintillo">Madrid</div>
                                        <img src="/Content/images/foto_concurso.jpg">
                                    </a>
                                </div>
                                <div class="texto">
                                    <h3>Nombre Concurso1</h3>
                                    <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> 15/06/2016</p>
                                </div>
                            </div>
                        </div>
                        <div class="noticia">
                            <div class="inner">
                                <div class="foto">
                                    <a href="/Consultorios/juridico/articulo/seguros-voluntarios-y-obligatorios-para-trabajar-con-caballos" title="Ver artículo">
                                        <div class="cintillo">Gijón</div>
                                        <img src="/Content/images/foto_caballo2.jpg">
                                    </a>
                                </div>
                                <div class="texto">
                                    <h3>Nombre Concurso2</h3>
                                    <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> 15/06/2016</p>
                                </div>
                            </div>
                        </div>
                        <div class="noticia">
                            <div class="inner">
                                <div class="foto">
                                    <a href="/Caballo/consejos/articulo/sabes-cual-es-el-contenido-de-humedad-de-tu-forraje" title="Ver artículo">
                                        <div class="cintillo">Santander</div>
                                        <img src="/Content/images/descarga.jpg">
                                    </a>
                                </div>
                                <div class="texto">
                                    <h3>Nombre Concurso3</h3>
                                    <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> 15/06/2016</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-center-der col-md-4 col-sm-4 col-xs-8">
                <div class="box-element">
                    <header><h2>Últimos resultados</h2></header>
                    <section class="content">
                        <div class="fila-element">
                            <h3>Nombre Concurso1</h3>
                            <ul>
                                <li>1º Nombre del primer jinete</li>
                                <li>2º Nombre del primer jinete</li>
                                <li>3º Nombre del primer jinete</li>
                            </ul>
                        </div>
                        <div class="fila-element">
                            <h3>Nombre Concurso1</h3>
                            <ul>
                                <li>1º Nombre del primer jinete</li>
                                <li>2º Nombre del primer jinete</li>
                                <li>3º Nombre del primer jinete</li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="banners">
                    <img src="/Content/images/todoparamicaballo.jpg" />
                    <img src="/Content/images/hhp-rfhe.gif" />
                </div>
            </div>
        </div>
    </div>
</section>