<section class="header-block header-salto">
    <div class="container">
        <div class="row">
            <h1>Salto</h1>
        </div>
    </div>
</section>
<nav class="nav navbar menu-principal">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Atletas</a></li>
            <li role="presentation"><a href="#">Caballos</a></li>
            <li role="presentation"><a href="#">Concursos</a></li>
            <li role="presentation"><a href="#">Jueces</a></li>
        </ul>
    </div>
</nav>