
<section id="section-content-login">
    <div id="contenido-interior">
        <div class="loginmodal-container">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="content">
                    <h2>Formulario de login</h2>
                    <form>
                        <input type="text" name="user" placeholder="Username">
                        <input type="password" name="pass" placeholder="Password">
                        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                    </form>

                    <div class="login-help">
                        <input type="checkbox" name="vehicle" value="Car" checked> Recordar contraseña
                    </div>
                    <div class="recordar col-sm-12">
                        <a class="pull-left" href="#">¿Olvidaste la contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>