<div class="messageBox">
    <div class="">

        <div id="mo-login-alerts" data-bind="compose: 'viewmodels/alerts'"></div>

        <form id="mo-login" data-bind="submit: login" class="form-horizontal">
            <fieldset>
                <legend>
                    <span>Bienvenido, inicia tu sesión</span>
                </legend>
                <div class="control-group">
                    <label class="control-label" for="mo-login-email">
                        Correo
                        electrónico
                    </label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="mo-login-email" data-bind="value: credentials.userName"
                                   required autofocus placeholder="Correo electrónico"
                                   title="Tu dirección de correo electrónico">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="mo-login-password">Contraseña</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fa fa-lock"></i></span>
                            <input type="password" id="mo-login-password"
                                   data-bind="value: credentials.password" required placeholder="Contraseña">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label>
                            <input type="checkbox" id="mo-login-remember-me"
                                   data-bind="checked: credentials.rememberMe"
                                   title="Recordarme la próxima vez que vuelva">
                            Recordarme
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <button type="submit"
                        title="Entrar en el backoffice de momomobile.mobi"
                        class="btn btn-primary">
                    Entrar
                </button>
                <span>
                    <a href="javascript:void(0)" data-bind="click: signIn"
                       title="Regístrate en el backoffice de momomobile.mobi">
                        ¿Aún no
                        te has registrado?
                    </a> <a href="javascript:void(0)"
                            title="Recuerda tu contraseña de momomobile.mobi">
                        ¿Olvidaste tu
                        contraseña?
                    </a>
                </span>
            </div>
        </form>
    </div>
</div>