<div class="row">
    <div class="col-sm-8">
        <div data-bind="visible: currentPage().totalPages > 1" class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                <li data-bind="css: { disabled: currentPage().firstPage }">
                    <a href="#" data-bind="click: loadFirstPage, attr: { title: i18n.t('app:PAGE_FIRST_TITLE') }">&laquo;</a>
                </li>
                <li data-bind="css: { disabled: currentPage().firstPage }">
                    <a href="#" data-bind="click: function () { loadPageByIndex(currentPage().number - 1) }, attr: { title: i18n.t('app:PAGE_PREVE_TITLE') }">&lsaquo;</a>
                </li>
                <li data-bind="visible: currentPager().hasPrevPages()"><span>...</span></li>
                <!--ko foreach: currentPager().getPages()-->
                <li data-bind="css: { active: $root.currentPage().number === $data }">
                    <a href="#" data-bind="click: function () { $root.loadPageByIndex($data) }, text: $data + 1, attr: { title: $root.i18n.format($root.i18n.t('app:PAGE_NUMBER_TITLE'), $data + 1) }"></a>
                </li>
                <!--/ko-->
                <li data-bind="visible: currentPager().hasNextPages()"><span>...</span></li>
                <li data-bind="css: { disabled: currentPage().lastPage }">
                    <a href="#" data-bind="click: function () { loadPageByIndex(currentPage().number + 1) }, attr: { title: i18n.t('app:PAGE_NEXT_TITLE') }">&rsaquo;</a>
                </li>
                <li data-bind="css: { disabled: currentPage().lastPage }">
                    <a href="#" data-bind="click: loadLastPage, attr: { title: i18n.t('app:PAGE_LAST_TITLE') }">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2 pull-right">
        <div class="pull-right">
            <div role="status" aria-live="polite" data-bind="text: i18n.format(i18n.t('app:PAGE_ROWS_SHOWN_TEXT'), currentPage().getFirstRowIndex(), currentPage().getLastRowIndex(), currentPage().totalElements)"></div>
        </div>
    </div>
    <div class="col-sm-2 pull-right aright">
        <span data-bind="text: i18n.t('app:PAGE_ROWS_MAX_TEXT')"></span>
        <select data-bind="options: availablePageSizes, value: currentPageSize, event: { change: loadCurrentPage }, attr: { title: i18n.t('app:PAGE_ROWS_MAX_TITLE') }" class="form-control input-sm"></select>
    </div>
</div>