<section id="section-content-login">
    <div id="contenido-interior">
        <div class="loginmodal-container">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="content">
                    <h2>Reestablecer contraseña</h2>
                    <form data-bind="submit: reset, visible: !mailSent()" novalidate>
                        <p data-bind="text: 'Introduce tu dirección de correo electrónico que usaste para registrarte. Te enviaremos un correo electrónico con un enlace para restablecer tu contraseña.'"></p>
                        <label class="control-label hidden" for="h-user-name">Correo electrónico</label>
                        <input type="email" id="h-user-name" data-bind="value: userName"
                               required autofocus placeholder="Correo electrónico"
                               title="Tu dirección de correo electrónico">

                        <button type="submit"
                                data-bind="attr: { title: i18n.t('SEND_BUTTON_TITLE') }"
                                class="btn btn-primary">
                            <i class="fa fa-save"></i>&nbsp;<span data-bind="text: i18n.t('SEND_BUTTON_TEXT')"></span>
                        </button>
                    </form>
                    <p data-bind="visible: mailSent(), text: 'Te hemos enviado un correo electrónico con instrucciones para volver a establecer tu contraseña.'"></p>
                </div>
            </div>
        </div>
    </div>
</section>