<nav class="navbar navbar-fixed-top">
    <!-- Brand -->
    <div class="container">
        <a class="logo" href="/">
            <img src="/Content/images/hipicapp-logoh.png" />
        </a>
        <!-- Links -->
        <div class="enlaces-header pull-right">
            <a class="nav-link" href="javascript:void(0);" data-bind="click: router.navigateToLogin">Entrar</a>
            ó
            <a class="nav-link" href="javascript:void(0);" data-bind="click: router.navigateToRegister">Registrarse</a>
        </div>
    </div>
</nav>
<div class="section-content" data-bind="router: { transition:'entrance' }"></div>