<div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img src="/Content/images/hipicapp-logo-blanco.png" />
        </a>
        <!-- Links -->
        <ul class="nav navbar-nav pull-sm-right">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" data-bind="click: router.navigateToLogin">Entre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" data-bind="click: router.navigateToRegister">Registrarse</a>
            </li>
        </ul>
    </nav>
    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>