<nav class="navbar navbar-fixed-top">
    <!-- Brand -->
    <div class="container">
        <a class="logo" href="/">
            <img alt="Logo hipicapp" src="/Content/images/hipicapp-logoh.png" />
        </a>
        <!-- Links -->
        <div class="enlaces-header pull-right">
            <i class="fa fa-power-off" aria-hidden="true"></i> <a class="nav-link" href="javascript:void(0);" data-bind="click: logout">Salir</a>
        </div>
    </div>
</nav>

<!--<section class="header-block">
    <div class="container">
        <div class="row">
            <h1 data-bind="text: router.activeInstruction() ? router.activeInstruction().config.title : ''"></h1>
        </div>
    </div>
</section>-->

<div id="mo-shell-alerts" data-bind="compose: 'viewmodels/alerts'"></div>
<div class="section-content" data-bind="router: { transition:'entrance' }"></div>

<footer>
    <div class="container">
        <p class="row">
        <p>2016 &copy; <strong>Hipicapp</strong> · Todos los derechos reservados</p>
    </div>
</footer>