<div class="messageBox">
    <div class="">
        <form data-bind="submit: signIn" class="form-horizontal">
            <h3 data-bind="text: 'Sign in'"></h3>
            <fieldset>
                <legend data-bind="text: 'Personal information'"></legend>

                <div class="control-group">
                    <label class="control-label" for="urm-profile-email">Correo electrónico</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="urm-profile-email" data-bind="value: currentEntity().userName"
                                required autofocus placeholder="Correo electrónico"
                                title="Tu dirección de correo electrónico">
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="urm-profile-confirm-email">Confirma correo electrónico</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="urm-profile-confirm-email" data-bind="value: currentEntity().confirmUserName"
                                required autofocus placeholder="Confirma correo electrónico"
                                title="Confirmar dirección de correo electrónico">
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="urm-profile-password">Password</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fa fa-lock"></i></span>
                            <input type="password" id="urm-profile-password" data-bind="value: currentEntity().password"
                                required autofocus placeholder="Password"
                                title="Password">
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label for="urm-profile-date-of-birth" data-bind="text: i18n.DATE_OF_BIRTH" class="control-label">
                    </label>
                    <div class="controls">
                        <div
                            data-bind="datetimepickerValue: currentEntity().dateOfBirth"
                            class="date input-prepend input-append">
                            <span class="add-on"><i data-time-icon="fa fa-time"
   data-date-icon="fa fa-calendar"></i></span>
                            <input type="text"
                                id="urm-profile-date-of-birth" data-bind="epochValue: currentEntity().dateOfBirth, attr: { placeholder: i18n.DATE_OF_BIRTH, title: i18n.DATE_OF_BIRTH }" required>
                            <span data-bind="text: i18n.DATE_PATTERN"
                                class="add-on"></span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label for="urm-profile-gender" data-bind="text: i18n.GENDER" class="control-label">
                    </label>
                    <div class="controls">
                        <select id="urm-profile-gender" data-bind="options: availableGenders, optionsValue: function (item) { return item.genderId }, optionsText: function (item) { return item.description }, optionsCaption: i18n.CHOOSE, valueObject: currentEntity().gender, attr: { title: i18n.GENDER }, value: currentEntity().gender(), setValue: function (newValue, option) { return option.genderId == newValue; }, select2: { placeholderOption: 'first', allowClear: true }" class="select2 input-default"></select>
                    </div>
                </div>

                <div class="control-group">
                    <label for="urm-profile-gender" data-bind="text: 'Musical Study Level'" class="control-label">
                    </label>
                    <div class="controls">
                        <select id="urm-profile-msl" data-bind="options: availableMusicalStudyLevels, optionsValue: function (item) { return item.MusicalStudyLevelId }, optionsText: function (item) { return item.Level }, optionsCaption: i18n.CHOOSE, valueObject: currentEntity().musicalStudyLevel, attr: { title: 'Musical Study Level' }, value: currentEntity().musicalStudyLevel().musicalStudyLevelId, setValue: function (newValue, option) { return option.MusicalStudyLevelId == newValue; }, select2: { placeholderOption: 'first', allowClear: true }" class="select2 input-default"></select>
                    </div>
                </div>

                <div class="control-group">
                    <label for="urm-profile-gender" data-bind="text: 'Main instrument'" class="control-label">
                    </label>
                    <div class="controls">
                        <select id="urm-profile-mi" data-bind="options: availableInstruments, optionsValue: function (item) { return item.InstrumentId }, optionsText: function (item) { return item.Name }, optionsCaption: i18n.CHOOSE, valueObject: currentEntity().principalInstrument, attr: { title: 'Main instrument' }, value: currentEntity().principalInstrument().instrumentId, setValue: function (newValue, option) { return option.InstrumentId == newValue; }, select2: { placeholderOption: 'first', allowClear: true }" class="select2 input-default"></select>
                    </div>
                </div>
            </fieldset>

            <div class="form-actions">
                <button type="submit"
                    data-bind="attr: { title: i18n.SAVE_PROFILE_BUTTON_TITLE }"
                    class="btn btn-primary">
                    <i class="fa fa-save"></i>&nbsp;<span
                        data-bind="text: i18n.SAVE_PROFILE_BUTTON_TEXT"></span>
                </button>
                <button type="button"
                    data-bind="attr: { title: i18n.CANCEL_BUTTON_TITLE }, click: close"
                    class="btn btn-primary">
                    <i class="fa fa-save"></i>&nbsp;<span
                        data-bind="text: i18n.CANCEL_BUTTON_TEXT"></span>
                </button>
            </div>
        </form>
    </div>
</div>