<section data-bind="css: { 'header-doma' : currentEntity().id === 1, 'header-salto' : currentEntity().id === 2 }" class="header-block">
    <div class="container">
        <div class="row">
            <h1 data-bind="text: currentEntity().name"></h1>
        </div>
    </div>
</section>
<nav class="nav navbar menu-principal">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="javascript:void(0);" data-bind="click: router.navigateToJump">Inicio</a></li>
            <li role="presentation"><a href="javascript:void(0);" data-bind="click: router.navigateToAthletes">Atletas</a></li>
            <li role="presentation"><a href="javascript:void(0);" data-bind="click: router.navigateToHorses">Caballos</a></li>
            <li role="presentation"><a href="javascript:void(0);" data-bind="click: router.navigateToCompetitions">Concursos</a></li>
            <li role="presentation"><a href="javascript:void(0);" data-bind="click: router.navigateToJudges">Jueces</a></li>
        </ul>
    </div>
</nav>
<section id="contenido-interior">
    <div class="container">
        <div class="block-top">
            <div class="col-md-12 col-sm-12 col-xs-24">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/Content/images/foto_carrusel_salto1.jpg" alt="First slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                                        <span>Welcome to <strong>LOREM IPSUM</strong></span>
                                    </h2>
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="/Content/images/foto_carrusel_salto2.jpg" alt="Second slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                                        <span>Welcome to LOREM IPSUM</span>
                                    </h2>
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="/Content/images/foto_carrusel_salto3.jpg" alt="Third slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                                        <span>Welcome to LOREM IPSUM</span>
                                    </h2>
                                </div>
                            </div><!-- /header-text -->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div><!-- /carousel -->
            </div>
        </div>
        <div class="block-destacados">
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="un-destacado">
                    <a href="javascript:void(0);" data-bind="click: router.navigateToAthletes" title="Atletas">
                        <img src="/Content/images/banner_atletas.jpg" alt="Third slide">
                        <h3>Atletas</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="un-destacado">
                    <a href="javascript:void(0);" data-bind="click: router.navigateToHorses" title="Caballos">
                        <img src="/Content/images/banner_caballos.jpg" alt="Third slide">
                        <h3>Caballos</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <div class="un-destacado">
                    <a href="javascript:void(0);" data-bind="click: router.navigateToJudges" title="Atletas">
                        <img src="/Content/images/banner_jueces.jpg" alt="Third slide">
                        <h3>Jueces</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="block-center">
            <div class="col-md-8 col-sm-8 col-xs-16">
                <div class="modulo-3-noticias">
                    <header>
                        <h2 class="pull-left">
                            Pr&oacute;ximos Concursos
                        </h2>
                        <a class="pull-right" href="javascript:void(0);" data-bind="click: router.navigateToCompetitions" title="Ver todos">Ver todos &raquo;</a>
                    </header>
                    <div class="inner-modulo">
                        <!-- ko foreach: nextCompetitions -->
                        <div class="noticia">
                            <div class="inner">
                                <div class="foto">
                                    <a href="/Deporte/saltos/articulo/recorridos-de-la-segunda-jornada-del-csn5-toledo-23-4-2016" title="Ver artículo">
                                        <div class="cintillo">Madrid</div>
                                        <img src="/Content/images/foto_concurso.jpg">
                                    </a>
                                </div>
                                <div class="texto">
                                    <h3 data-bind="text: name"></h3>
                                    <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> <!-- ko text: moment(startDate).format($root.i18n.t('app:DATE_PATTERN')) --><!-- /ko --></p>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="block-center-der col-md-4 col-sm-4 col-xs-8">
                <div class="box-element">
                    <header><h2>&Uacute;ltimos resultados</h2></header>
                    <section class="content">
                        <ul>
                            <li>
                                <span><!-- ko text: ranking().length > 0 ? ranking()[1].value : '' --><!-- /ko --> puntos</span>
                                <img data-bind="attr: { src: ranking().length > 0 ? fileBroker.getUrlByUuid(ranking()[1].athlete.photo.fileUuid) : '' }" alt="" />
                                <div class="puesto">
                                    <h3><!-- ko text: ranking().length > 0 ? ranking()[1].athlete.name : '' --><!-- /ko --><br /> <!-- ko text: ranking().length > 0 ? ranking()[1].athlete.surnames : '' --><!-- /ko --></h3>
                                    <span>2</span>
                                </div>
                            </li>
                            <li>
                                <span><!-- ko text: ranking().length > 0 ? ranking()[0].value : '' --><!-- /ko --> puntos</span>
                                <img data-bind="attr: { src: ranking().length > 0 ? fileBroker.getUrlByUuid(ranking()[0].athlete.photo.fileUuid) : '' }" alt="" />
                                <div class="puesto">
                                    <h3><!-- ko text: ranking().length > 0 ? ranking()[0].athlete.name : '' --><!-- /ko --><br /> <!-- ko text: ranking().length > 0 ? ranking()[0].athlete.surnames : '' --><!-- /ko --></h3>
                                    <span>1</span>
                                </div>
                            </li>
                            <li>
                                <span><!-- ko text: ranking().length > 0 ? ranking()[2].value : '' --><!-- /ko --> puntos</span>
                                <img data-bind="attr: { src: ranking().length > 0 ? fileBroker.getUrlByUuid(ranking()[2].athlete.photo.fileUuid) : '' }" alt="" />
                                <div class="puesto">
                                    <h3><!-- ko text: ranking().length > 0 ? ranking()[2].athlete.name : '' --><!-- /ko --><br /> <!-- ko text: ranking().length > 0 ? ranking()[2].athlete.surnames : '' --><!-- /ko --></h3>
                                    <span>3</span>
                                </div>
                            </li>
                            <li>
                                <h3><span>4.</span>Nombre del primer jinete</h3>
                                <span class="puntos pull-right">36 puntos</span>
                            </li>
                            <li>
                                <h3><span>5.</span>Nombre del primer jinete</h3>
                                <span class="puntos pull-right">32 puntos</span>
                            </li>
                            <li>
                                <h3><span>6.</span>Nombre del primer jinete</h3>
                                <span class="puntos pull-right">31 puntos</span>
                            </li>
                        </ul>
                        <div class="pull-right"><a href="#" class="ver-todo">Ver clasificaci&oacute;n completa &raquo;</a></div>
                    </section>
                </div>
                <div class="banners">
                    <img src="/Content/images/hhp-rfhe.gif" />
                </div>
            </div>
        </div>
    </div>
</section>