<section id="section-content-login">
    <div id="contenido-interior">
        <div class="loginmodal-container">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="content">
                    <h2>Actualizar contraseña</h2>
                    <form data-bind="submit: update" novalidate>
                        <label class="control-label hidden" for="h-new-password">Password</label>
                        <input type="password" id="h-new-password" data-bind="value: currentEntity().user.newPassword"
                               required autofocus placeholder="Password"
                               title="Password">

                        <label class="control-label hidden" for="h-confirm-new-password">Confirm password</label>
                        <input type="password" id="h-confirm-new-password" data-bind="value: currentEntity().user.confirmNewPassword"
                               required autofocus placeholder="Confirm password"
                               title="Confirm password">

                        <button type="submit"
                                data-bind="attr: { title: i18n.t('SAVE_BUTTON_TITLE') }"
                                class="btn btn-primary">
                            <i class="fa fa-save"></i>&nbsp;<span data-bind="text: i18n.t('SAVE_BUTTON_TEXT')"></span>
                        </button>
                    </form>
                </div>
                <div data-bind="visible: updatedPassword()">
                    <h3 data-bind="text: 'La contraseña ha sido actualizada'"></h3>
                    <a data-bind="text: 'Ir al discover', attr: { href: '#/discover' }"></a>
                </div>
            </div>
        </div>
    </div>
</section>