<div class="row-fluid">
    <div class="span3 pagination mo-pagination">
        <span data-bind="text: i18n.format(i18n.t('app:PAGE_ROWS_SHOWN_TEXT'), currentPage().getFirstRowIndex(), currentPage().getLastRowIndex(), currentPage().totalElements)"></span>
    </div>
    <div class="span6">
        <div data-bind="visible: currentPage().totalPages > 1"
             class="pagination pagination-centered">
            <ul>
                <li data-bind="css: { disabled: currentPage().firstPage }">
                    <a href="#"
                       data-bind="click: loadFirstPage,
    attr: { title: i18n.t('app:PAGE_FIRST_TITLE') }">&laquo;</a>
                </li>
                <li data-bind="css: { disabled: currentPage().firstPage }">
                    <a href="#"
                       data-bind="click: function () { loadPageByIndex(currentPage().number - 1) },
    attr: { title: i18n.t('app:PAGE_PREVE_TITLE') }">&lsaquo;</a>
                </li>
                <li data-bind="visible: currentPager().hasPrevPages()"><span>...</span></li>
                <!--ko foreach: currentPager().getPages()-->
                <li data-bind="css: { active: $root.currentPage().number === $data }">
                    <a href="#"
                       data-bind="click: function () { $root.loadPageByIndex($data) },
    text: $data + 1,
    attr: { title: $root.i18n.format($root.i18n.t('app:PAGE_NUMBER_TITLE'), $data + 1) }"></a>
                </li>
                <!--/ko-->
                <li data-bind="visible: currentPager().hasNextPages()"><span>...</span></li>
                <li data-bind="css: { disabled: currentPage().lastPage }">
                    <a href="#"
                       data-bind="click: function () { loadPageByIndex(currentPage().number + 1) },
    attr: { title: i18n.t('app:PAGE_NEXT_TITLE') }">&rsaquo;</a>
                </li>
                <li data-bind="css: { disabled: currentPage().lastPage }">
                    <a href="#"
                       data-bind="click: loadLastPage,
    attr: { title: i18n.t('app:PAGE_LAST_TITLE') }">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="span3 pagination mo-pagination">
        <div class="pull-right">
            <span data-bind="text: i18n.t('app:PAGE_ROWS_MAX_TEXT')"></span>
            <select id="mo-promotion-current-page-size"
                    data-bind="options: availablePageSizes,
    value: currentPageSize,
    event: { change: loadCurrentPage },
    attr: { title: i18n.t('app:PAGE_ROWS_MAX_TITLE') }"
                    class="input-mini"></select>
        </div>
    </div>
</div>