<div id="urm-main-nav">
    <span id="urm-logo"><a href="#/">Hipica</a></span>
    <ul class="nav-items">
        <li><a href="#" data-bind="click: search">Search</a></li>
        <li><a href="#/play/discover">Discover</a></li>
        <li><a href="#/play/myrepertoire">My Repertoire</a></li>
        <li><a href="#/play/records">Records</a></li>
        <li><a href="#/play/inbox">Inbox</a></li>

        <li class="item-profile has-extra-bottom-row show">
            <a href="#" data-bind="text: securityContext.getPrincipal()"></a>
        </li>

        <li class="settings-link">
            <a data-href="settings" id="nav-settings" class="current">Settings</a>
        </li>
    </ul>
</div>