body {
    height: 100%;
}

caption {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
}

/* Landing */
.topbar-wrapper {
    margin-top: 50px;
}

.landingpage > div {
    text-align: center;
}

.leftbar-wrapper {
    position: absolute;
    left: 100px;
    height: 100%;
    overflow: auto;
    right: 0;
}

.subview {
    left: 20%;
    -webkit-box-shadow: -6px 0px 5px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: -6px 0px 5px rgba(50, 50, 50, 0.7);
    box-shadow: -6px 0px 5px rgba(50, 50, 50, 0.7);
}

/* Splash */
#mo-splash {
    text-align: center;
    margin: 12% 0 0 0;
}

    #mo-splash img {
        max-width: 60%;
    }

    #mo-splash p {
        font-size: 3em;
        line-height: 3em;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    }

    #mo-splash .fa-spinner {
        text-align: center;
        display: inline-block;
        font-size: 5em;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    }

/* Host */
#mo-page-host {
    top: 40px;
}

@media ( max-width : 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

/* Navbar */
.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 20px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    margin-right: 10px;
}

.navbar .brand img {
    width: auto;
    height: 17px;
}

.navbar .loader {
    margin: 4px 8px 4px 8px;
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    visibility: hidden;
}

    .navbar .loader.active {
        visibility: visible;
    }

/* Sidebar */
#urm-logo {
    display: block;
    width: 90px;
    height: 95px;
    border-bottom: 1px solid #1f1f1f;
    /*background: url(../images/section-icons.png) -374px -132px no-repeat;*/
    padding: 4px 0;
}

#urm-main-nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 90px;
    background: #2c2c2d;
}

    #urm-main-nav ul {
        display: block;
        list-style: none;
        width: 87px;
        margin: 0;
        padding: 5px 0 0 0;
        text-align: center;
        border-top: 1px solid #3b3b3c;
    }

        #urm-main-nav ul a {
            cursor: pointer;
            display: block;
            /*background: url(../images/section-icons.png) 15px 0 no-repeat;*/
            width: 65px;
            padding: 40px 5px 0 5px;
            margin: 0 0 5px 0;
            color: #ababab;
            text-shadow: 0 0 1px #000;
            font-size: 11px;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            #urm-main-nav ul a:active {
                color: #f1f1f1;
            }

    #urm-main-nav li.settings-link {
        display: block;
        position: absolute;
        width: 90px;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        font-size: 11px;
        text-align: center;
    }

.has-extra-bottom-row {
    bottom: 76px!important;
}

.item-profile {
    position: absolute;
    bottom: 40px;
    left: 0;
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Hero unit */
#mo-hero-unit {
    background-color: #eee;
}

/* Login */
#mo-login {
    margin: 25% 0 0 0;
    position: relative;
}

    #mo-login legend span {
        max-width: 25%;
    }

    #mo-login img {
        max-width: 260px;
        position: absolute;
        top: -14px;
        right: 0;
    }

    #mo-login a {
        white-space: nowrap;
        margin-left: 1em;
    }

/* List */
.mo-create-button {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.mo-pagination span {
    line-height: 30px;
}

.mo-pagination select {
    margin-bottom: 0;
}

/* DISCOVER */
.page {
    /*clear: left;*/
    width: 30%;
    float: left;
    position: relative;
}

.story {
    font-family: 'Helvetica Neue','Helvetica','Lucida Grande',Arial,sans-serif;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

    .story .reason {
        margin-bottom: 15px;
        font-size: 1.15em;
        line-height: 1.3em;
        padding: 0 15px;
        position: relative;
    }

.story-type {
    background: url('../images/story-type-bg.png') top left repeat-x;
    background-color: #ebebeb;
    background: -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#f7f7f7));
    background: -webkit-linear-gradient(top,#ebebeb,#f7f7f7);
    background: -moz-linear-gradient(top,#ebebeb,#f7f7f7);
    background: -ms-linear-gradient(top,#ebebeb,#f7f7f7);
    background: -o-linear-gradient(top,#ebebeb,#f7f7f7);
    background: linear-gradient(top,#ebebeb,#f7f7f7);
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -1px 0 #fff inset;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #747475;
    font-family: 'Lucida Grande',sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1;
}

    .story-type .type-icon {
        /*background: url(../images/type-icons.png) center 0 no-repeat;*/
        box-shadow: -1px 0 0 #fff inset;
        border-right: solid 1px #ebebeb;
        float: left;
        height: 27px;
        margin-right: 7px;
        vertical-align: middle;
        width: 30px;
        position: relative;
    }

.story-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid 1px #cdccc9;
    padding: 43px 0 15px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sp-story-hero {
    width: 100%;
    position: relative;
    border-bottom: 51px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .sp-story-hero > .main-button {
        position: absolute;
        bottom: -51px;
        height: 36px;
        left: 15px;
        right: 15px;
    }

.sp-clear-square {
    width: 100%;
    display: block;
    padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.hero-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    left: 15px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
}

.sp-audio-browse-button.medium.center-center {
    margin: -30px 0 0 -33px;
}

.sp-audio-browse-button.center-center {
    top: 49%;
    left: 50%;
}

.sp-audio-browse-button-tip > div {
    position: relative;
    right: -50%;
    border: 1px solid #2b2a2a;
    border-radius: 4px;
    background: #454545;
    background: -moz-linear-gradient(top,#454545 0,#181818 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#454545),color-stop(100%,#181818));
    background: -webkit-linear-gradient(top,#454545 0,#181818 100%);
    background: -o-linear-gradient(top,#454545 0,#181818 100%);
    background: -ms-linear-gradient(top,#454545 0,#181818 100%);
    background: linear-gradient(to bottom,#454545 0,#181818 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#454545',endColorstr='#181818',GradientType=0);
    font-weight: bold;
    font-size: 14px;
    text-shadow: 0 -1px #000;
    color: white;
    padding: 5px 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    float: right;
}

.hero-img .musicItem {
    padding-bottom: 9px;
}

.hero-img .musicItem {
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0 10px 0;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%,rgba(0,0,0,0.7)),color-stop(50%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
    background-image: linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
}

.musicItem {
    position: relative;
    margin: 10px 0;
    font-size: 17px;
    line-height: 1.2em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.musicDescriptors {
    width: 100%;
    padding-left: 15px;
    padding-right: 5px;
    margin-left: 0;
    -webkit-font-smoothing: antialiased;
}

.musicImage, .musicDescriptors {
    display: inline-block;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Store*/
.storeMainPage {
    position: absolute;
    height: 100%;
    left: 90px;
    right: 0;
}

/* Frontpage */
div.root.covered {
}

div.stacked > div.front {
    width: 80%;
    -webkit-transform: translatex(0%) translatez(0);
    -moz-transform: translatex(0%) translatez(0);
    -ms-transform: -ms-translatex(0%);
    -o-transform: translatex(0%) translatez(0);
    transform: translatex(0%) translatez(0);
    padding-left: 5px;
    background-color: white;
    position: fixed;
    right: 0;
    height: 100%;
    overflow: auto;
}
/*
div.stacked > div {
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translatex(100%) translatez(0);
    -moz-transform: translatex(100%) translatez(0);
    -ms-transform: -ms-translatex(100%);
    -o-transform: translatex(100%) translatez(0);
    transform: translatex(100%) translatez(0);
    -webkit-transition: -webkit-transform .35s ease;
    -moz-transition: -moz-transform .35s ease;
    -ms-transition: transform .35s ease;
    -o-transition: -o-transform .35s ease;
    transition: transform .35s ease;
    background-color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFW…JlYWR5ccllPAAAABdJREFUeNpiZGBgYAZidiDmBGJLgAADAADuAE4RYmENAAAAAElFTkSuQmCC);
    background-position: left top;
    background-repeat: repeat-y;
}
*/

/* Store Item detail */
.detail-img {
    border: 1px solid #f1f1f1;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
}

.buttons {
    margin-top: 3em;
}

.subview > div:first-child {
    margin-top: 2em;
}

.preview {
    margin-top: 1em;
    min-height: 48em;
    background-color: #89cac2;
}

/* Inbox */

/*User Comments*/
.user-comment-img {
    display: inline-block;
    width: 32px;
    height: 32px;
}

/* Carousel */
.image_carousel {
    padding: 15px 0 15px 40px;
    position: relative;
}

    .image_carousel img {
        border: 1px solid #ccc;
        background-color: white;
        padding: 9px;
        margin: 7px;
        display: block;
        float: left;
    }