<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

    <div class="row">
        <div class="col-md-3 col-lg-3 " align="center">
            <img alt="User Pic" data-bind="attr: { src: fileBroker.getUrlByUuid(currentEntity().photo.fileUuid) }" class="img-responsive">
        </div>
        <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <td>Department:</td>
                        <td>Programming</td>
                    </tr>
                    <tr>
                        <td>Hire date:</td>
                        <td>06/23/2013</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                    </tr>

                    <tr>
                    <tr>
                        <td>Gender</td>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <td>Home Address</td>
                        <td>Metro Manila,Philippines</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>